<nav class="navbar" id="navHeader">
    <div class="navbar-content">
        
            <img id="imgLogo" src="https://ums.lpu.in/LpuUms/Forms/OutcomeDashboard/job-portal-imgs/logo.svg" style="width: 100%;" alt="LPU LOGO">
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <h2 class="font-weight-bold">
              <strong id="stMain"></strong>
            </h2>
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          </li>
          </ul>
      
      <ul class="navbar-nav" id="ulMenu">
       
        <li class="nav-item nav-apps" ngbDropdown>
          <a href="https://ums.lpu.in/lpuums/Default.aspx" class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"><i class="feather icon-home icon-lg mb-1"></i><p class="tx-12">UMS Home</p></a>
        </li>
       
      </ul>
    </div>
  </nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="" height="28" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav> -->

