<div class="h-100 d-flex p-2 align-items-center justify-content-center">
    <div class="container ">
        <div class="row">
            
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title" style="text-align: center">Placement</h6>
                        
                        
                            <div class="row">

                            <div class="col-sm">
                                <label for="BatchYear" class="form-label">Batch Year:</label>

                                <ng-select [items]="batchYearData"
                                bindLabel="batchYear"
                                (change)="changeLeagueOwner($event)"
                                bindValue="batchYear"
                                placeholder="type to search"
                                [(ngModel)]="selectedBatchyear">
                              </ng-select>

                               
                            </div>

                            <div class="col-sm">
                                <label for="Company" class="form-label">Company:</label>
                                <ng-select [items]="batchYearCompanyData" #ngSelectComponent
                                [clearable]="true"
                                bindLabel="companyName"
                                (change)="changeCompany($event)"
                                bindValue="companyId"
                                placeholder="type to search"
                                [(ngModel)]="selection">
                              </ng-select>
                            </div>

                            <div class="col-sm">
                                <label class="form-label">Stream:</label>
                                <ng-select 
                                [items]="batchYearStreamData"  #ngSelectComponentStream
                                [multiple]=true
                                bindLabel="stream"
                                (change)="changeCompanyStream($event)"
                                bindValue="id"
                                [hideSelected]="true"
                                [(ngModel)]="selectedStreams">
                                </ng-select>

                            </div>

                           
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary me-2" (click)="showDriveData();">Show</button>
                            <button type="button" class="btn btn-secondary">Reset</button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Data Table</h6>
                        <div class="table-responsive">
                            <table id="dataTableExample" class="table tid-table">
                                <thead>
                                    <tr>
                                        <th>Drive Id</th>
                                        <th>DriveCode</th>
                                        <th>JobProfile</th>
                                        <th>JobLocation</th>
                                        <th>Designation</th>
                                        <th>Salary</th>
                                        <th>Eligibility</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let row of streamData; let index=index; let even=even">
                                        <tr class="tid-data-row" [ngClass]="{'tid-even': even}">
                                            <td>
                                                <button class="btn btn-outline-dark btn-sm" (click)="row.showDetail = !row.showDetail">{{row.driveId}}</button>
                                               
                                            </td>
                                            <td>
                                                {{row.driveCode}}
                                                <!-- <button class="btn btn-outline-dark btn-sm" (click)="row.showDetail = !row.showDetail">Drive{{index+1}}</button> -->
                                            </td>
                                            <td>
                                                {{row.jobProfile}}
                                            </td>
                                            <td>{{row.jobLocation}}</td>
                                            <td> {{row.designation}}</td>
                                            <td> {{row.salaryPackage}}</td>
                                            <td>{{row.eligibility}}</td>
                                        </tr>
                                        <tr class="tid-detail-row" [ngClass]="{'show': row.showDetail}">
                                            <td colspan="8">
                                                <div>
                                                    <form 
                                                        class="forms-sample">


                                                        <div 
                                                            *ngFor="let creds of getDriveData(row.driveId);">


                                                            <div class="mb-3 text-center fs-3 ">
                                                                <label for="BatchYear" class="form-label"><strong>Round
                                                                    {{creds.roundname}}</strong></label>
                                                            </div>
                                                            <div class="row">
                                                                        <div class="col-sm">
                                                                            <table id="dataTableExample" class="table tid-table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Total Eligible</th>
                                                                                        <th>Total Registered</th>
                                                                                        <th>Total Present</th>
                                                                                        <th>Total Selected</th>
                                                                                        <th>Total Absent</th>
                                                                                        <th>Total Not Selected</th>
                                                                                        <th>Total left</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <ng-container *ngFor="let rowAtt of getRoundDriveData(creds.roundid);">
                                                                                    <tr>
                                                                                            <td>
                                                                                                {{rowAtt.totalEligible}}
                                                                                            </td>
                                                                                            <td>
                                                                                                {{rowAtt.totalRegistered}}
                                                                                            </td>
                                                                                            <td>
                                                                                                {{rowAtt.totalPresent}}
                                                                                            </td>
                                                                                            <td>
                                                                                                {{rowAtt.totalSelected}}
                                                                                            </td>
                                                                                            <td>
                                                                                                {{rowAtt.totalAbsent}}
                                                                                            </td>
                                                                                            <td>
                                                                                                {{rowAtt.totalNotSelected}}
                                                                                            </td>
                                                                                            <td>
                                                                                                {{rowAtt.totalLeft}}
                                                                                            </td>
                                                                                    </tr>
                                                                                    </ng-container>
                                                                                    </tbody>
                                                                                    </table>


                                                                        </div>

                                                            </div>

                                                            <div class="row">
                                                            <div class="col-sm">
                                                                <label for="Remarks" class="form-label">Faculty Remarks:</label>
                                                                <input type="text" class="form-control" id="FacultyRemarks"
                                                                    placeholder="Faculty Remarks"  />
                                                            </div>

                                                            <div class="col-sm">
                                                                <label for="Remarks" class="form-label">Company Remarks:</label>
                                                                <input type="text" class="form-control" id="CompanyRemarks"
                                                                    placeholder="Company Remarks"  />
                                                            </div>

                                                            <div class="col-sm">
                                                                <label for="Feedback"
                                                                    class="form-label">Feedback:</label>
                                                                <input type="text" class="form-control" id="Feedback"
                                                                    placeholder="Feedback"  />
                                                            </div>
                                                        </div>
                                                            <hr class="border border-primary border-3 opacity-75" >                                                        </div>
                                                            <div class="row" style="float: right;
                                                            width: 40%;">
                                                                <div class="col-sm" id="ddd">
                                                               
                                                                <ng-select [items]="roundData"
                                                                bindLabel="parametername"
                                                                
                                                                bindValue="parameterid"
                                                                placeholder="Select Round"
                                                                name="round"
                                                                appendTo="#bty"
                                                                [(ngModel)]="selectedRoundData">
                                                              </ng-select>
                                                              <div id="bty" style="    position: absolute;"></div>
                                                            </div>
                                                            

                                                            
                                                            <div class="col-sm">
                                                            <button class="btn btn-outline-primary me-2 float-end" (click)="addCreds(row.driveId)">Add</button>
                                                          
                                                            <button class="btn btn-outline-primary me-2 float-end" (click)="removeCreds(row.driveId)">Remove</button>
                                                            </div>
                                                       
                                                    </div>
                                                    </form>

                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>

                            </table>
                            <div class="text-center mt-3">

                            <button type="button" (click)="onSubmit1()" class="btn btn-primary me-2">Submit</button>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>