$cell-padding: 8px;



.ng-select .ng-select-container {
  min-height: 20px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 20px;
}

table.tid-table {
  tr {
    &.tid-detail-row {
      > td {
        
        > div {
         // width: 100%;
         // box-sizing: border-box;
          max-height: 0;
          transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
          overflow: hidden;
          
        }
      }
      &.show  > td > div {
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
    }
   
  }
}