.card .card-title{
    font-size: 1rem !important;
}
.marginNew{
    margin-top: 15px !important;
}
.page-content{
    margin-top: 0px;
}

.nav-link.active{
    background-color: #05a34a !important;
    border-color: #05a34a !important;
    color:white !important;

}

#nav-tab .btn.active {
  background-color: green;  
}
.nav-link{
    color:#05a34a !important;
}
.table th, .table td{
    word-wrap: break-word !important;
}
i {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    padding-right: 0.1rem;
    color: #d3d3d3;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  
    &.full {
      color: #ffa600;
    }
  
    &.half {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #ffa600;
    }
  }


  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: #EF7F1A;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #EF7F1A;
  }