<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<div *ngIf="!isLoading">
<!-- <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
      <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
        <i data-feather="calendar" appFeatherIcon></i>
      </button>
      <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
    <div class="input-group wd-200 me-2 mb-2 mb-md-0">
      <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
        <i data-feather="calendar" appFeatherIcon></i>
      </button>
      <input class="form-control border-primary bg-transparent" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
    <button type="button" class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Search
    </button>
   
  </div>
</div> -->

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-2 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Today's RMS</h6>
              <i data-feather="message-square"></i>

              <!-- <div ngbDropdown class="mb-2">
                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton">
                  <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2 marginNew">{{rmsData[0]?.todayRMS}}</h3>
                <!-- <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+3.3%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div> -->
              </div>
              <!-- <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="customersChartOptions.series"
                    [chart]="customersChartOptions.chart"
                    [colors]="customersChartOptions.colors"
                    [xaxis]="customersChartOptions.xaxis"
                    [stroke]="customersChartOptions.stroke"
                    [markers]="customersChartOptions.markers"
                  ></apx-chart>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Pending RMS  </h6>
              <h3 style="    float: left;
              margin-left: -63%;
              font-size: 18px;">{{rmsData[0]?.totalPendingRMS}}</h3>
              <i data-feather="package"></i>

              <!-- <div ngbDropdown class="mb-2">
                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton1">
                  <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div >

               
                  <div class="col-md-3 marginNew" style="float:left;background: green;padding-left: 10px;color:white;border: 1px solid black;">
                    <div>
                      <label class="d-flex  tx-10 text-uppercase fw-bold" style="font-size: 12px;" >0-5 Days</label>

                      <h5 class="fw-bolder mb-0" style="font-size: 12px;text-align: center;
                      margin-left: -65px;">{{rmsData[0]?.fiveDaysRMS}}</h5>
                    </div>
                  </div>
                  <div class="col-md-3 marginNew" style="float:left; margin-left: -38px;background: yellow;padding-left: 10px;color:black;border: 1px solid black;">
                    <div>
                      <label class="d-flex  tx-10 text-uppercase fw-bold" style="font-size: 12px;">6-10 Days</label>
                      <h5 class="fw-bolder mb-0" style="font-size: 12px;text-align: center;
                      margin-left: -65px;">{{rmsData[0]?.tenDaysRMS}}</h5>
                    </div>
                  </div>
                  <div class="col-md-3 marginNew" style="float:left; margin-left: -38px;background: red;padding-left: 10px;color:white;border: 1px solid black;">
                    <div>
                      <label class="d-flex  tx-10 text-uppercase fw-bold" style="font-size: 12px;">11-30 Days</label>
                      <h5 class="fw-bolder mb-0" style="font-size: 12px;text-align: center;
                      margin-left: -41px;">{{rmsData[0]?.aboveTenLessThirtyDaysRMS}}</h5>
                    </div>
                  </div>
                  <div class="col-md-3 marginNew" style="float:left; margin-left: -28px;background: red;padding-left: 10px;color:white;border: 1px solid black;">
                    <div>
                      <label class="d-flex  tx-10 text-uppercase fw-bold" style="font-size: 12px;">Above 30 Days</label>
                      <h5 class="fw-bolder mb-0" style="font-size: 12px;text-align: center;
                      margin-left: -24px;">{{rmsData[0]?.moreThirtyDaysRMS}}</h5>
                    </div>
                  </div>
              


             
                <!-- <h3 class="mb-2 marginNew">{{rmsData[0]?.totalPendingRMS}}</h3> -->
                <!-- <div class="d-flex align-items-baseline">
                  <p class="text-danger">
                    <span>-2.8%</span>
                    <i data-feather="arrow-down" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div> -->
              </div>
              <!-- <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="ordersChartOptions.series"
                    [chart]="ordersChartOptions.chart"
                    [colors]="ordersChartOptions.colors"
                    [plotOptions]="ordersChartOptions.plotOptions"
                    [xaxis]="ordersChartOptions.xaxis"
                  ></apx-chart>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Today's Closed RMS</h6>
              <i data-feather="user"></i>

              <!-- <div ngbDropdown class="mb-2">
                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton2">
                  <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2 marginNew">{{rmsData[0]?.closedRMS}}</h3>
                <!-- <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+2.8%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div> -->
              </div>
              <!-- <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="growthChartOptions.series"
                    [chart]="growthChartOptions.chart"
                    [colors]="growthChartOptions.colors"
                    [xaxis]="growthChartOptions.xaxis"
                    [stroke]="growthChartOptions.stroke"
                    [markers]="growthChartOptions.markers"
                  ></apx-chart>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">Average Response Time</h6>
              <i data-feather="clock"></i>

              <!-- <div ngbDropdown class="mb-2">
                <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton2">
                  <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2 marginNew">{{rmsData[0]?.reponseAverage}}</h3>
                <!-- <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span>+2.8%</span>
                    <i data-feather="arrow-up" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                </div> -->
              </div>
              <!-- <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="growthChartOptions.series"
                    [chart]="growthChartOptions.chart"
                    [colors]="growthChartOptions.colors"
                    [xaxis]="growthChartOptions.xaxis"
                    [stroke]="growthChartOptions.stroke"
                    [markers]="growthChartOptions.markers"
                  ></apx-chart>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div id="tabs" #tabs>

  <ul class="nav nav-pills">
    <li class="nav-item ">
      <a class="nav-link active" [ngClass]="{ 'active':activeTab==='search'}" (click)="search('search')"
        data-toggle="tab">Monthly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ 'active':activeTab==='result'}" data-toggle="tab"
        (click)="result('result')">Rating Average</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [ngClass]="{ 'active':activeTab==='forwarded'}" data-toggle="tab"
        (click)="result('forwarded')">Forwarded RMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{ 'active':activeTab==='getinput'}" data-toggle="tab"
        (click)="result('getinput')">Get RMS Input</a>
    </li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="search" [ngClass]="{ 'active':activeTab==='search'}">
      <div class="row">
        <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <p class="text-muted">Month Wise RMS Count</p>
              <div *ngIf="rmsData.length > 0">
                <apx-chart [series]="monthlySalesChartOptions.series" [chart]="monthlySalesChartOptions.chart"
                  [colors]="monthlySalesChartOptions.colors" [fill]="monthlySalesChartOptions.fill"
                  [grid]="monthlySalesChartOptions.grid" [xaxis]="monthlySalesChartOptions.xaxis"
                  [yaxis]="monthlySalesChartOptions.yaxis" [legend]="monthlySalesChartOptions.legend"
                  [stroke]="monthlySalesChartOptions.stroke" [dataLabels]="monthlySalesChartOptions.dataLabels"
                  [plotOptions]="monthlySalesChartOptions.plotOptions"></apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">RMS Completion Percentage</h6>

              </div>
              <div *ngIf="rmsData.length > 0">
                <apx-chart [series]="cloudStorageChartOptions.series" [chart]="cloudStorageChartOptions.chart"
                  [colors]="cloudStorageChartOptions.colors" [plotOptions]="cloudStorageChartOptions.plotOptions"
                  [fill]="cloudStorageChartOptions.fill" [stroke]="cloudStorageChartOptions.stroke"
                  [labels]="cloudStorageChartOptions.labels"></apx-chart>
              </div>

              <div class="row mb-3">
                <div class="col-6 d-flex justify-content-end">
                  <div>
                    <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bold">Total RMS
                      <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                    <h5 class="fw-bolder mb-0 text-end">{{rmsData[0]?.total}}</h5>
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label class="d-flex align-items-center tx-10 text-uppercase fw-bold"><span
                        class="p-1 me-1 rounded-circle bg-primary"></span> Total Achieved</label>
                    <h5 class="fw-bolder mb-0">{{rmsData[0]?.achieved}}</h5>
                  </div>
                </div>
              </div>
              <div class="d-grid">
                <!-- <button class="btn btn-primary">Upgrade storage</button> -->
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->
    </div>

    <div class="tab-pane" id="results" [ngClass]="{ 'active':activeTab==='result'}">

      <div class="row">
        <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <p class="text-muted">Monthly Rating Average</p>
              <div *ngIf="rmsData.length > 0">
                <apx-chart [series]="monthlyRatingChartOptions.series" [chart]="monthlyRatingChartOptions.chart"
                  [colors]="monthlyRatingChartOptions.colors" [fill]="monthlyRatingChartOptions.fill"
                  [grid]="monthlyRatingChartOptions.grid" [xaxis]="monthlyRatingChartOptions.xaxis"
                  [yaxis]="monthlyRatingChartOptions.yaxis" [legend]="monthlyRatingChartOptions.legend"
                  [stroke]="monthlyRatingChartOptions.stroke" [dataLabels]="monthlyRatingChartOptions.dataLabels"
                  [plotOptions]="monthlyRatingChartOptions.plotOptions"></apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">RMS Rating Average ({{currentRate}})</h6>

              </div>
              <div *ngIf="rmsData.length > 0">

<!-- Uncommented on 23-nov-24                 <ngb-rating  [max]="5.0" style="font-size: 88px; text-align: center; margin-left: 38px !important ;" [readonly]="true"  (rate)="3.4"></ngb-rating> -->

                <ng-template #t let-fill="fill">
                  <span class="star" style="font-size: 88px;" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">★</span>★
                  </span>
                </ng-template>

                <ngb-rating style="
              text-align: center;
              margin-left: 38px
          !important
          ;" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>


<!-- Uncommented on 23-nov-24                 <apx-chart [series]="averageRatingChartOptions.series"[chart]="averageRatingChartOptions.chart" [colors]="averageRatingChartOptions.colors" [plotOptions]="averageRatingChartOptions.plotOptions" [fill]="averageRatingChartOptions.fill" [stroke]="averageRatingChartOptions.stroke" [labels]="averageRatingChartOptions.labels" ></apx-chart>  -->
              </div>

              <div class="row mb-3">
                <div class="col-6 d-flex justify-content-end">
                  <div>
                    <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bold"
                      style="font-size: 12px">Total RMS <span
                        class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                    <h5 class="fw-bolder mb-0 text-end">{{rmsData[0]?.total}}</h5>
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label class="d-flex align-items-center tx-10 text-uppercase fw-bold" style="font-size: 12px"><span
                        class="p-1 me-1 rounded-circle bg-primary"></span> Total Rating RMS</label>
                    <h5 class="fw-bolder mb-0">{{rmsDataRating?.length}}</h5>
                  </div>
                </div>
              </div>
              <div class="d-grid">
                <!-- <button class="btn btn-primary">Upgrade storage</button> -->
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->

    </div>

    <div class="tab-pane" id="forwarded" [ngClass]="{ 'active':activeTab==='forwarded'}">results sdsad

      <div class="row">
        <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <p class="text-muted">Month Wise Forwarded RMS</p>
              <div *ngIf="rmsData.length > 0">
                <apx-chart [series]="monthlyForwardedChartOptions.series" [chart]="monthlyForwardedChartOptions.chart"
                  [colors]="monthlyForwardedChartOptions.colors" [fill]="monthlyForwardedChartOptions.fill"
                  [grid]="monthlyForwardedChartOptions.grid" [xaxis]="monthlyForwardedChartOptions.xaxis"
                  [yaxis]="monthlyForwardedChartOptions.yaxis" [legend]="monthlyForwardedChartOptions.legend"
                  [stroke]="monthlyForwardedChartOptions.stroke" [dataLabels]="monthlyForwardedChartOptions.dataLabels"
                  [plotOptions]="monthlyForwardedChartOptions.plotOptions"></apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">RMS Completion Percentage</h6>

              </div>
              <div *ngIf="rmsData.length > 0">
                <apx-chart [series]="cloudStorageChartOptions.series" [chart]="cloudStorageChartOptions.chart"
                  [colors]="cloudStorageChartOptions.colors" [plotOptions]="cloudStorageChartOptions.plotOptions"
                  [fill]="cloudStorageChartOptions.fill" [stroke]="cloudStorageChartOptions.stroke"
                  [labels]="cloudStorageChartOptions.labels"></apx-chart>
              </div>

              <div class="row mb-3">
                <div class="col-6 d-flex justify-content-end">
                  <div>
                    <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bold">Total RMS
                      <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                    <h5 class="fw-bolder mb-0 text-end">{{rmsData[0]?.total}}</h5>
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label class="d-flex align-items-center tx-10 text-uppercase fw-bold"><span
                        class="p-1 me-1 rounded-circle bg-primary"></span> Total Achieved</label>
                    <h5 class="fw-bolder mb-0">{{rmsData[0]?.achieved}}</h5>
                  </div>
                </div>
              </div>
              <div class="d-grid">
                <!-- <button class="btn btn-primary">Upgrade storage</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane" id="getinput" [ngClass]="{ 'active':activeTab==='getinput'}">
      <div class="row">
        <div class="col-lg-12 col-xl-12 grid-margin">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">

                  <p class="text-muted">Month Wise Forwarded RMS</p>
                  <div *ngIf="rmsInputData.length > 0">
                    <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                      [colors]="lineChartOptions.colors" [grid]="lineChartOptions.grid" [xaxis]="lineChartOptions.xaxis"
                      [yaxis]="lineChartOptions.yaxis" [markers]="lineChartOptions.markers"
                      [legend]="lineChartOptions.legend" [stroke]="lineChartOptions.stroke"></apx-chart>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">

                  <p class="text-muted">Month Wise Forwarded RMS</p>
                  <div *ngIf="rmsInputData.length > 0">
                    <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                      [colors]="lineChartOptions.colors" [grid]="lineChartOptions.grid" [xaxis]="lineChartOptions.xaxis"
                      [yaxis]="lineChartOptions.yaxis" [markers]="lineChartOptions.markers"
                      [legend]="lineChartOptions.legend" [stroke]="lineChartOptions.stroke"></apx-chart>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

</div>
<div class="row">
  <nav>
    <div class="nav nav-tabs nav nav-tabs d-flex justify-content-center active" id="nav-tab" role="tablist">
      <button class="btn btn-dark me-2 active" id="RmsDetails-all-tab" data-bs-toggle="tab"
         data-bs-target="#RmsDetails-all" type="button" role="tab"
        aria-controls="RmsDetails-all" aria-selected="true">All cases</button>
      <button class=" btn btn-dark  ms-2" id="RmsDetails-open-tab" data-bs-toggle="tab"
        data-bs-target="#RmsDetails-open" type="button" role="tab"
        aria-controls="RmsDetails-open" aria-selected="false">Open Cases</button>
      <button class=" btn btn-dark  ms-2" id="RmsDetails-closed-tab" data-bs-toggle="tab"
         data-bs-target="#RmsDetails-closed" type="button" role="tab"
        aria-controls="RmsDetails-closed" aria-selected="false">Closed Cases</button>
     
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- First Tab All Cases -->
    <div class="tab-pane fade active show" id="RmsDetails-all" role="tabpanel" aria-labelledby="RmsDetails-all-tab">
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <!-- <h6 class="card-title">All RMS Details </h6> -->
               
              <div class="row mt-2 d-flex justify-content-between">
                <div class="col-sm-4 ">
                  <div class="mb-3">
                    <button (click)="exportToExcel()" class="btn btn-dark"
                      [disabled]="this.rmsData?.length ==0 || this.rmsData.length === undefined">Export to
                      Excel</button>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <div class="mb-1 text-start">
                    <span class="fs-4 fw-bolder text-danger text-center">All RMS Details</span>
                  </div>
                </div>
                <div class="col-sm-3 text-start">
                  <!-- <input [(ngModel)]="searchQuery" (keyup)="searchDataGrid()" id="search" type="text" class="form-control"
                    placeholder="Search" [disabled]="this.rmsData?.length ==0 || this.rmsData.length === undefined"
                    aria-label="Search" /> -->
                </div>
              </div>
              <div class="table-responsive" *ngIf="rmsData.length>0 else NoDetails">
                <table id="dataTableExample" class="table">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Sub Category</th>
                      <th>School Name</th>
                      <th>MessageId</th>
                      <th>Ticket No</th>
                      <th>Subject</th>
                      <!-- <th>Description</th> -->
                      <th>Logged Date</th>
                      <th>Status</th>
                      <th>Task Days</th>
                      <th>Logged By</th>
                      <!-- <th>Closing Date</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of rmsData">
                      <td>{{data?.category}}</td>
                      <td>{{data?.subCategory}}</td>
                      <td>{{data?.schoolName}}</td>
                      <td>{{data?.messageId}}</td>
                      <td>{{data?.ticketNo}}</td>
                      <td>{{data?.subject}}</td>
                      <!-- <td>{{data?.description}}</td> -->
                      <td>{{data?.loggedDate}}</td>
                      <td>{{data?.status}}</td>
                      <td>{{data?.taskDays}}</td>
                      <td>{{data?.loggedBy}}</td>
                      <!-- <td>{{data?.closingDate}}</td> -->
  
                    </tr>
  
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <ng-template #NoDetails>
                <p class="fs-2 text-danger text-center ">No Data Available.</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Second tab Open Cases  -->
    <div class="tab-pane fade" id="RmsDetails-open" role="tabpanel" aria-labelledby="RmsDetails-open-tab">
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <!-- <h6 class="card-title">All Open RMS Details</h6> -->
              <div class="row mt-2 d-flex justify-content-between">
                <div class="col-sm-4 ">
                  <div class="mb-3">
                    <button (click)="exportToExcel1()" class="btn btn-dark"
                      [disabled]="this.rmsDataPending?.length ==0 || this.rmsDataPending.length === undefined">Export to
                      Excel</button>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <div class="mb-1 text-start">
                    <span class="fs-4 fw-bolder text-danger text-center">All Open RMS Details</span>
                  </div>
                </div>
                <div class="col-sm-3 text-start">
                  <!-- <input [(ngModel)]="searchQuery" (keyup)="searchDataGrid()" id="search" type="text" class="form-control"
                    placeholder="Search"
                    [disabled]="this.rmsDataPending?.length ==0 || this.rmsDataPending.length === undefined"
                    aria-label="Search" /> -->
                </div>
              </div>
              <div class="table-responsive" *ngIf="rmsDataPending.length>0 else NoDetails">
                <table id="dataTableExample2" class="table">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Sub Category</th>
                      <th>School Name</th>
                      <th>MessageId</th>
                      <th>Ticket No</th>
                      <th>Subject</th>
                      <!-- <th>Description</th> -->
                      <th>Logged Date</th>
                      <th>Status</th>
                      <th>Task Days</th>
                      <th>Logged By</th>
                      <!-- <th>Closing Date</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of rmsDataPending">
                      <td>{{data?.category}}</td>
                      <td>{{data?.subCategory}}</td>
                      <td>{{data?.schoolName}}</td>
                      <td>{{data?.messageId}}</td>
                      <td>{{data?.ticketNo}}</td>
                      <td>{{data?.subject}}</td>
                      <!-- <td>{{data?.description}}</td> -->
                      <td>{{data?.loggedDate}}</td>
                      <td>{{data?.status}}</td>
                      <td>{{data?.taskDays}}</td>
                      <td>{{data?.loggedBy}}</td>
                      <!-- <td>{{data?.closingDate}}</td> -->
  
                    </tr>
  
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <ng-template #NoDetails>
                <p class="fs-2 text-danger text-center ">No Open RMS Data Available.</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <!-- Third tab Closed RMS case  -->  
    <div class="tab-pane fade " id="RmsDetails-closed" role="tabpanel" aria-labelledby="RmsDetails-closed-tab">
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"></h6>
              <div class="row mt-2 d-flex justify-content-between">
                <div class="col-sm-4 ">
                  <div class="mb-3">
                    <button (click)="exportToExcel2()" class="btn btn-dark"
                      [disabled]="this.rmsDataClosedCases?.length ==0 || this.rmsDataClosedCases.length === undefined">Export
                      to
                      Excel</button>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <div class="mb-1 text-start">
                    <span class="fs-4 fw-bolder text-danger text-center">All Closed RMS Details</span>
                  </div>
                </div>
                <div class="col-sm-3 text-start">
                  <!-- <input [(ngModel)]="searchQuery" (keyup)="searchDataGrid()" id="search" type="text" class="form-control"
                    placeholder="Search"
                    [disabled]="this.rmsDataClosedCases?.length ==0 || this.rmsDataClosedCases.length === undefined"
                    aria-label="Search" /> -->
                </div>
              </div>
              <div class="table-responsive" *ngIf="rmsDataClosedCases.length>0 else NoDetails">
                <table id="dataTableExample3" class="table">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Sub Category</th>
                      <th>School Name</th>
                      <th>MessageId</th>
                      <th>Ticket No</th>
                      <th>Subject</th>
                      <!-- <th>Description</th> -->
                      <th>Logged Date</th>
                      <th>Status</th>
                      <th>Task Days</th>
                      <th>Logged By</th>
                      <!-- <th>Closing Date</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of rmsDataClosedCases">
                      <td>{{data?.category}}</td>
                      <td>{{data?.subCategory}}</td>
                      <td>{{data?.schoolName}}</td>
                      <td>{{data?.messageId}}</td>
                      <td>{{data?.ticketNo}}</td>
                      <td>{{data?.subject}}</td>
                      <!-- <td>{{data?.description}}</td> -->
                      <td>{{data?.loggedDate}}</td>
                      <td>{{data?.status}}</td>
                      <td>{{data?.taskDays}}</td>
                      <td>{{data?.loggedBy}}</td>
                      <!-- <td>{{data?.closingDate}}</td> -->
  
                    </tr>
  
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <ng-template #NoDetails>
                <p class="fs-2 text-danger text-center ">No Data Available.</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>