<div class="card shadow-lg p-4" id="StudentDashboard" *ngIf="!IsLoginFailed; else Error">
  <div class="container-fluid mt-1">

    <div class="row">
      <div class="col-md-4"> </div>
      <div class="col-md-4">
         <button class="btn btn-success" 
                        (click)="DashboardVisit()" 
                        >
                    Dashboard
                </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success" 
                        (click)="printDetails()" 
                        [disabled]="!isReadyForPrint">
                    Print Details
                </button>
      </div>
    </div>
  </div>
 
  <div class="row mt-4">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">


            <!-- Student Details -->
            <div class="flex-grow-1">
              <div class="row mb-2">
                <div class="col-md-3">
                  <label class="form-label fw-bold text-danger">Student Name:</label>
                </div>
                <div class="col-md-3">
                  <p class="text-dark fw-bold">{{studentDetailsWithImage?.studentName}}</p>
                </div>
                <div class="col-md-3">
                  <label class="form-label fw-bold text-danger">Batch Year:</label>
                </div>
                <div class="col-md-3">
                  <p class="text-dark fw-bold">{{studentDetailsWithImage?.batchYear}}</p>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-3">
                  <label class="form-label fw-bold text-danger">Course:</label>
                </div>
                <div class="col-md-3">
                  <p class="text-dark fw-bold">{{studentDetailsWithImage?.courseName}}</p>
                </div>
                <div class="col-md-3">
                  <label class="form-label fw-bold text-danger">Program Code: Section </label>
                </div>
                <div class="col-md-3">
                  <p class="text-dark fw-bold">{{this.ProgramCode}} :{{this.SectionCode}}
                    <!-- {{studentDetailsWithImage?.programCode}}  -->
                    <!-- ({{studentDetailsWithImage?.schoolName}}) -->
                  </p>
                </div>
              </div>
            </div>
            <!-- Student Image -->
            <div class="me-4" *ngIf="StudentImage">
              <img alt="Student Image" class="img-fluid rounded-circle border border-3 border-primary"
                [src]="StudentImage" style="width: 130px; height: 130px; object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let section of getFilteredFormSections()">
    <h5 class="mt-4 mb-2 text-info">{{ section.label }}</h5>
    <div class="row">
      <div class="col-md-4 mb-2" *ngFor="let key of section.keys">
        <label class="form-label fw-semibold" *ngIf="key !=='acceptPolicy'; else polcy">{{ beautifyLabel(key) }}</label>
        <p class="form-control-plaintext border rounded p-2 bg-light">
          {{ studentForm.get(key)?.value || 'N/A' }}
        </p>
        <ng-template #polcy>
          <label class="form-label fw-semibold"> {{'Declaration Statement'}}</label>
        </ng-template>
      </div>
    </div>
  </ng-container>


  <!-- Document Uploads -->
  <h5 class="mt-4 text-info">Uploaded Documents</h5>
  <div class="row">
    <ng-container *ngFor="let doc of documentUploads">
      <div class="col-md-4 mt-2 mb-2">
        <label class="form-label fw-semibold">{{ doc.label }}</label>
        <div class="d-flex align-items-center gap-2" *ngIf="stuApplication?.[doc.key]?.length > 0; else NoUpload">
          <a class="btn btn-outline-primary btn-sm" [href]="serverUrl + stuApplication[doc.key]" target="_blank">
            <span class="material-icons md-18">description</span> View Uploaded
          </a>
        </div>
        <ng-template #NoUpload>
          <p class="text-muted">No document uploaded.</p>
        </ng-template>
      </div>
    </ng-container>
  </div>

</div>
<!-- Unauthorized Message -->
<ng-template #Error>
  <div class="d-flex justify-content-center mt-3">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="fs-3 text-danger">Unauthorised Access!<br />Session expired.</h4>
      </div>
    </div>
  </div>
</ng-template>


<div class="full-page-loader" *ngIf="loadingIndicator" aria-label="Loading">
  <div class="loader-spinner">
    <span class="material-icons md-48 spin-icon">autorenew</span>
  </div>
</div>