::ng-deep .ngx-datatable .datatable-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
}

::ng-deep .ngx-datatable .datatable-header-cell-label {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 18px;
  text-align: center;
  width: 100%;
}


.autocomplete-container {
    position: relative;
    display: inline-block;
  }
  
  .suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;
  }
  
  .suggestions div {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions div.active {
    background-color: #ddd;
  }
  
  .suggestions div:hover {
    background-color: #ddd;
  }
  

  .fullscreen-modal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  .fullscreen-modal .modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
  }
  .widthStyle{
    width: 23rem;
  }

  #nav-tab .btn.active {
    background-color: #FD6C04; 
  }
  #nav-tab .btn {
    color: black;  
    background-color: white;
  }

  // #nav-tab .btn.active {
  //   background-color:  #0d6efd;// #c9936d; 
  //   color: #fff
  // }
  // #nav-tab .btn {
  //   color: #000;  
  //   background-color: #fff;
  // }

.datatable-top-scroll{

    position:sticky;

    top:70px;      /* below navbar */

    z-index:1000;

    background:#fff;

    border-bottom:1px solid #ddd;

}

.grid-container{
    width:100%;
}

.top-scroll{

    overflow-x:auto;
    overflow-y:hidden;

    height:18px;

    margin-bottom:6px;
}

.top-scroll div{

    height:1px;

}

.table-wrapper{

    width:100%;
    overflow-x:auto;

}