<div class="h-100 d-flex p-2 align-items-center justify-content-center">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="fromDate">From Date</label>
                  <input type="date" class="form-control" bsDatepicker [(ngModel)]="fromDate" name="fromdate">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="toDate">To Date</label>
                  <input type="date" class="form-control" bsDatepicker [(ngModel)]="toDate" name="todate">
                </div>
              </div>
              <div class="col-sm-3 d-flex justify-content-center align-items-center">
                <div class="form-group">
                  <label for="action" class="mb-3"></label>
                  <button type="button" class="btn btn-warning mt-3" style="color: #fff; background-color: #f68220;"
                    (click)="showData()" [disabled]="toDate==0 || fromDate==0">Get Details</button>
                </div>
              </div>
              <div class="col-sm-3 d-flex align-items-center">
                <div class="form-group">
                  <label for="action" class="mb-2"></label>
                  <button type="reset" style="margin-right: 3rem; float:left" class="btn btn-dark btn-warning mt-3"
                    (click)="ResetData()">Reset Form</button>
                </div>
              </div>
            </div>
            <div class="row m-4">
              <div class="col-sm-12 text-center">
                <button type="button" style="margin-right: 1rem;" class="btn btn-dark btn-outline-warning mb-12"
                  (click)="exportExcel()" *ngIf="MouData?.length > 0" [disabled]="MouData?.length===0">Export to
                  Excel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading" class="spinner-container">
      <div class="col-sm-12" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="d-flex justify-content-center align-item-center">
          <!-- <span class="text-dark fs-3">Loading </span><br /> -->
          <div class="spinner-grow text-dark tex-center" style=" width: 18rem; height: 18rem;" role="status">
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!isLoading && MouData?.length > 0; else NoRecords">
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body" *ngIf="dataShowing===true;">
            <h2 class="card-title fs-2 text-danger text-center">Data Table MOU Report </h2>
            <div class="table-responsive">
              <div id="wrapper1">
                <div id="div1">
                </div>
              </div>
              <div id="wrapper2">
                <div id="div2">
                  <table id="dataTableExampleNews" class="table table-responsive table-full-width">
                    <thead>
                      <tr>
                        <th *ngFor="let dt of MouDataColumns; let i = index">
                          {{dt}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of MouData; let rowIndex = index">
                        <td *ngFor="let col of MouDataColumns; let colIndex = index">
                          <ng-container *ngIf="col === 'mouDocument'">
                            <ng-container *ngIf="row[col] !== null; else noDoc">
                              <a class="btn btn-dark ms-3" [href]="row[col]" target="_blank">Download</a>
                            </ng-container>
                            <ng-template #noDoc>
                              <span>No Document Found</span>
                            </ng-template>
                          </ng-container>

                          <ng-container *ngIf="col === 'mouActionTakenDocument'">
                            <ng-container *ngIf="row[col] !== null; else noActionDoc">
                              <button type="button" class="btn btn-dark btn-outline-danger mb-12"
                                (click)="DownloadUploadedAction(row)">
                                Download Document
                              </button>
                            </ng-container>
                            <ng-template #noActionDoc>
                              <span>No Document Found</span>
                            </ng-template>
                          </ng-container>


                          <ng-container *ngIf="col === 'documentApprovalStatus'">
                            <ng-container *ngIf="row[col] !== null">
                              <span [class.text-success]="row[col] === 'True'"
                                [class.text-danger]="row[col] === 'False'">
                                {{ row[col] === 'True' ? 'Approved' : 'Disapproved' }}
                              </span>
                            </ng-container>
                            <ng-container *ngIf="row[col] === null">
                              <span>N/A</span>
                            </ng-container>
                          </ng-container>

                          <ng-container *ngIf="col === 'documentApprovalStatus'">
                            <ng-container *ngIf="row[col] !== null; ">
                              <button class="btn btn-dark" (click)="onSelect(row)" [disabled]="row.mouStatus=='Expired' ">
                                Take Action
                              </button>
                            </ng-container>
                            <!-- <ng-template #noActionDoc>
                              <span>No Document Found</span>
                            </ng-template> -->
                          </ng-container>
                          <ng-container
                            *ngIf="col !== 'mouDocument' && col !== 'mouActionTakenDocument' && col !== 'documentApprovalStatus'">
                            {{ row[col] || 'N/A' }}
                          </ng-container>


                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <ng-template #NoRecords>
      <div class="themeClr">
        <h1 class="fs-2 text-center vh-50 p-3 m-4 "> No Data Found </h1>
      </div>
    </ng-template>

  </div>
</div>


<ng-template #viewDescModal let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">MOU Taken Action for MOU/{{this.mouId}} </h5>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <div class="col-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body ">
                <!-- <h2 class="modal-title text-center" id="exampleModalLabel">MOU Taken Action Screen </h2> -->
                <form #TakeAction="ngForm" (ngSubmit)="UploadActivity()">
                  <div class="row d-flex justify-content-around mb-4 mt-5">
                    <div class="col-3">
                      <label for="mouActivity" class=" ">MOU Activity</label>
                    </div>
                    <ng-container *ngIf="this.ActivityDetails?.length > 0 ; else NewActivity">
                      <div class="col-3">
                        <label for="mouActivity" class="text-danger ">MOU Activity {{this.DocumentName}}</label>
                        <!-- <input type="text" id="mouActivity" (change)="onActivitySelected($event)" class="col-12 p-2 form-control"
                                                  required ngModel name="mouActivity" #mouActivity="ngModel" /> -->
                      </div>
                      <div class="col-3">
                        <label for="sampleFile" class="">Download MOU activity Format File</label>
                      </div>
                      <div class="col-3">
                        <a (click)="testClick(this.selectedActivityId)" class="btn btn-dark">Download Format</a>
                      </div>
                    </ng-container>
                    <ng-template #NewActivity>
                      <div class="col-3">
                        <select id="mouActivity" (change)="onActivitySelected($event)" class="col-12 p-2 form-control" required
                          ngModel name="mouActivity" #mouActivity="ngModel">
                          <option value="" selected>Select MOU Activity to be Conducted</option>
                          <option *ngFor="let activity of mouActivities" class="  " [value]="activity.id">
                            {{ activity.description }}
                          </option>
                        </select>
                        <div *ngIf="mouActivity.invalid && mouActivity.touched" class="text-danger">
                          <div *ngIf="mouActivity.errors?.required">MOU Activity is required.</div>
                        </div>
                        <label class=" col-12 text-danger">{{this.DocumentName.length>0 ? this.DocumentName: ''}}</label>
                      </div>

                      <div class="col-3">
                        <label for="sampleFile" class="">Download MOU activity Format File</label>
                      </div>
                      <div class="col-3">
                        <a (click)="testClick(this.selectedActivityId)" class="btn btn-dark">Download Format</a>
                      </div>
                    </ng-template>
                  </div>

                  <div class="row mb-3 mt-3">
                    <div class="col-3">
                      <label class="">Start Date of Mou Activity </label>
                    </div>
                    <div class="col-3">
                      <label class=" ">{{this.ExpectedstartDate!=''? this.ExpectedstartDate :''}} </label>
                    </div>
                    <div class="col-3">
                      <label class=" ">End Date of Mou Activity </label>
                    </div>
                    <div class="col-3">
                      <label class=" ">{{this.ExpectedEndDate!=''? this.ExpectedEndDate :''}} </label>
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-3">
                      <label for="remarks" class=" ">Your Remarks <br/> (Include Proof Submitted Details)</label>
                    </div>
                    <div class="col-3">
                      <textarea required name="remarks" [(ngModel)]="Remarks" rows="5" cols="30" class="col-12 p-2 form-control"
                        (change)="checkFormValidity()" id="remarks" #remarks="ngModel" autocomplete="off">
                                          </textarea>
                      <div *ngIf="remarks.invalid && remarks.touched" class="text-danger">
                        <div *ngIf="remarks.errors?.required">Remarks are required.</div>
                      </div>
                    </div>
                    <div class="col-3">
                      <label for="CompletedDate" class=" ">Completed Date:</label>
                    </div>
                    <div class="col-3">
                      <input type="date" class="col-12 p-2 form-control" required ngModel name="CompletedDate" id="CompletedDate"
                        #CompletedDate="ngModel" (change)="checkFormValidity()" autocomplete="off" />
                      <div *ngIf="CompletedDate.invalid && CompletedDate.touched" class="text-danger">
                        <div *ngIf="CompletedDate.errors?.required">Completed Date is required.</div>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3 mt-3">
                    <div class="col-3">
                      <label class="form-label p-3">Upload Document</label>
                    </div>
                    <div class="col-3">
                      <input type="file" id="File" name="File" class=" p-3" required ngModel class="form-control"
                        (change)="onFileSelected($event)" accept=".zip, .rar, .7z" #file="ngModel" />
                      <div *ngIf="file.invalid && file.touched" class="text-danger">
                        <div *ngIf="file.errors?.required">File is required. Allowed formats: .zip, .rar (Max size: 5MB).</div>
                      </div>
                      <span class="text-danger "><br />Allowed Documents format rar, zip and of Max size 5MB</span>
                    </div>
                    <ng-container *ngIf="this.CurrentdisapprovalReason?.length>0;">
                      <div class="col-3">
                        <label class="form-label p-3 text-danger">Older Rejected Document</label>
                      </div>
                      <div class="col-3">
                        <a class="btn btn-dark ms-3" [href]="this.UploadedFileUrl" target="_blank"> Download </a>
                      </div>
                    </ng-container>
                    <div class="col-3">
                      <label class="form-label p-3">Session</label>
                    </div>
                    <div class="col-3">
                      <select class="form-control" [(ngModel)]="sessionId" name="sessionId" required>
                        <option value="">Select Session</option>
                        <option *ngFor="let item of items" [value]="item.id">{{ item.session }}</option>
                      </select>
                      <div *ngIf="sessionId.invalid && sessionId.touched" class="text-danger">Required</div>
                    </div>
                  </div>
                  <div class="row mb-4 mt-2">
                   
                    <div class="col-3">
                      <label class="form-label p-3">Select Activity Category</label>
                    </div>
                    <div class="col-3">
                      <select class="form-control" [(ngModel)]="Activity" name="Activity" required>
                        <option value="">Select Activity</option>
                        <option *ngFor="let item of Activities" [value]="item.activityTitle">{{ item.activityTitle }}</option>
                      </select>
                      <div *ngIf="Activity.invalid && Activity.touched" class="text-danger">Required</div>
                    </div>
                    <div class="col-3">
                      <label class="form-label p-3"> Activity Type</label>
                    </div>
                    <div class="col-3">
                      <input type="radio" value="National" id="ActivityTypeNational" [(ngModel)]="selectedActivityType" name="ActivityType"> National
                      <input type="radio" value="International" id="ActivityTypeInternational" [(ngModel)]="selectedActivityType" name="ActivityType"> International                      
                    </div>
                  </div>
                  <div class="row d-flex justify-content-around mb-2 mt-2">
                    <div class="col-3">
                      <label class="form-label p-3"> Participant's Count</label>
                    </div>
                    <div class="col-3 text-center">
                      <!-- <input type="text" class="" [(ngModel)]="ParticipantsCount" name="ParticipantsCount" required>  -->
                      <input type="text" id="ParticipantsCount" name="ParticipantsCount" [(ngModel)]="ParticipantsCount" class="p-2 form-control"
                       autocomplete="off" placeholder="Participants Count"/>
                    </div>
                    <div class="col-3 text-center">
                      <!-- <button type="submit" [disabled]="!TakeAction.valid" class="btn btn-primary me-2 col-5">Apply Action</button> -->
                    </div>
                    <div class="col-3 text-center">
                      <button type="submit" [disabled]="!TakeAction.valid" class="btn btn-primary me-2 col-5">Apply Action</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</ng-template>