<div [formGroup]="form">
  <app-step-nav
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="isValid"
    [showBack]="!hideBackNext"
    [showNext]="!hideBackNext"
    [showBack]="true"
    [showNext]="true"
    (editClick)="editClick.emit()"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="updateClick.emit()"
    (nextClick)="nextClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>

  <app-section-card title="Contact Information" [isEditing]="isEditing">
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">Email Id *</label>
        <input type="text" class="form-control" [value]="form.get('EmailId')?.value" readonly [disabled]="true" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">Country *</label>
        <select class="form-select" formControlName="CountryName" [disabled]="!isEditing">
          <option value="">Select country</option>
          <option *ngFor="let c of countries; trackBy: trackByCountryName" [value]="c.name">{{ c.name }}</option>
        </select>
        <div class="text-danger small"
          *ngIf="(form.get('CountryName')?.touched || isSubmitted) && form.get('CountryName')?.invalid">
          Required
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">WhatsApp Number *</label>
        <input class="form-control" formControlName="WhatsAppNo" [readonly]="!isEditing" />
        <div class="text-danger small"
          *ngIf="(form.get('WhatsAppNo')?.touched || isSubmitted) && form.get('WhatsAppNo')?.invalid">
          Required / invalid
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">Phone Number *</label>
        <input class="form-control" formControlName="PhoneNumber" [readonly]="!isEditing" />
        <div class="text-danger small"
          *ngIf="(form.get('PhoneNumber')?.touched || isSubmitted) && form.get('PhoneNumber')?.invalid">
          Required / invalid
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">Parent Contact *</label>
        <input class="form-control" formControlName="ParentContact" [readonly]="!isEditing" />
        <div class="text-danger small"
          *ngIf="(form.get('ParentContact')?.touched || isSubmitted) && form.get('ParentContact')?.invalid">
          Required / invalid
        </div>
      </div>
    </div>
  </app-section-card>

  <app-section-card title="Relative Details" [isEditing]="isEditing">
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">Any Relative Abroad? *</label>
        <select class="form-select" formControlName="HasRelativeDetails" [disabled]="!isEditing">
          <option value="">Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        <div class="text-danger small"
          *ngIf="(form.get('HasRelativeDetails')?.touched || isSubmitted) && form.get('HasRelativeDetails')?.invalid">
          Required
        </div>
      </div>

      <div *ngIf="hasRelative" class="col-md-12">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="form-label">Relative Name *</label>
            <input class="form-control" formControlName="RelativeName" [readonly]="!isEditing" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Country *</label>
            <select class="form-select" formControlName="RelativeCountryName" [disabled]="!isEditing">
              <option value="">Select</option>
              <option *ngFor="let c of countries; trackBy: trackByCountryName" [value]="c.name">{{ c.name }}</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="form-label">Relation *</label>
            <input class="form-control" formControlName="RelativeRelation" [readonly]="!isEditing" />
          </div>
          <div class="col-md-6" *ngIf="showOptionalRelativeField('RelativeEmail')">
            <label class="form-label">Email (optional)</label>
            <input class="form-control" formControlName="RelativeEmail" [readonly]="!isEditing" />
          </div>
        </div>
        <div class="row mt-2" *ngIf="showOptionalRelativeField('RelativePhone')">
          <div class="col-md-6">
            <label class="form-label">Phone (optional)</label>
            <input class="form-control" formControlName="RelativePhone" [readonly]="!isEditing" />
          </div>
        </div>
      </div>
    </div>
  </app-section-card>

  <app-step-nav
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="isValid"
    [showBack]="!hideBackNext"
    [showNext]="!hideBackNext"
    [showBack]="false"
    [showNext]="true"
    [showEdit]="false"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="updateClick.emit()"
    (nextClick)="nextClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>
</div>
