<app-menu-bar></app-menu-bar>
<div class="label container-fluid">
   <h4> Candidate Placement Record</h4>
</div>
<div class="labela container-fluid">
   <h4 id="branch">PLACEMENT STATUS</h4>
</div>
<div class="box container-fluid">

   <div class="tab">
      <table class="data">
         <tr>
            <th>Placement Id :</th>
            <td>348295</td>
            <th>Master Details Filled? :</th>
            <td> Basic Details Filled</td>
         </tr>
         <tr>
            <th>Policy Accepted? :</th>
            <td>Accepted (Job Placements - B.Tech. (CSE/IT))</td>
            <th>Date of Last Updation :</th>
            <td>8/21/2021 8:18:39 AM</td>
         </tr>
         <tr>
            <th>Date of Registration :</th>
            <td>10 Jun 2021</td>
            <th>PEP Fee Payment Details :</th>
            <td>Preparatory Session Fee Paid In Full - 12000 ( Payment Date : 21 Aug 2021 )</td>
         </tr>
         <tr>
            <th>Opportunity Start Date :</th>
            <td>01 Jan 2022</td>

         </tr>

      </table>
      <div class="dp">
         <img src="assets/STUDENT.jpg" height="100px" width="100px">

      </div>
   </div>
   <div class="labelb">
      <h4 id="branchh">REGISTRATION DETAILS</h4>
   </div>
   <div class="details">
      <table class="record">
         <tr>
            <th> Prov. Registration Number :</th>
            <td>11910459</td>
            <th>Total Drives Eligible For Till Date :</th>
            <td>853</td>
            <th>Active / Debarred / Exit : </th>
            <td>Active::Active</td>
         </tr>
         <tr>
            <th>Name :</th>
            <td>Neha Singh</td>
            <th>Nationality :</th>
            <td>Indian</td>
            <th>Status History :</th>
            <td>Active</td>
         </tr>
         <tr>
            <th>Gender :</th>
            <td>M</td>
            <th>Date of Birth :</th>
            <td>2/14/2002 12:00:00 AM</td>
            <th>Date of Registration :</th>
            <td>6/10/2021 9:04:27 PM</td>
         </tr>
         <tr>
            <th>Pursuing Degree :</th>
            <td>B.Tech. (Computer Science and Engineering)</td>
            <th>Batch Start Year :</th>
            <td>2019</td>
            <th>Batch End Year :</th>
            <td>2023</td>
         </tr>
         <tr>
            <th>Mobile :</th>
            <td>82105060980</td>
            <th>Email Id :</th>
            <td>nehasingh&commat;gmail.com</td>
            <th>Stream :</th>
            <td>CSE/IT:B.Tech CSE/IT</td>
         </tr>
         <tr>
            <th>Current CGPA :</th>
            <td>8.9</td>
            <th>No. of Backlogs :</th>
            <td>0</td>
            <th>Hostel Details :</th>
            <td>No Hostel Taken</td>
         </tr>
         <tr>
            <th>Filled Family Details? :</th>
            <td>Provided</td>
            <th>Filled Work Experience Details? :</th>
            <td>Not Provided</td>
            <th>Filled Work Expectation Details? :</th>
            <td>Not Provided</td>
         </tr>
         <tr>
            <th>WhatsApp No :</th>
            <td>99734549087</td>
            <th>Skype Id :</th>
            <td>NA</td>
            <th>LinkedIn URL :</th>
            <td>linkedin.com/in/neha-singh-854204193</td>
         </tr>
         <tr>
            <th>Microsoft Team Id :</th>
            <td>neha.11910456&commat;lpu.in</td>
            <th>Pan Card No. :</th>
            <td>NA</td>
            <th>Aadhaar No. :</th>
            <td>NA</td>
         </tr>
         <tr>
            <th>Driving License No. :</th>
            <td>NA</td>
            <th>Passport No. :</th>
            <td>NA</td>
            <th>Category :</th>
            <td>Gen</td>
         </tr>
         <tr>
            <th>Dual 1 :</th>
            <td>MACHINE LEARNING</td>
            <th>Dual 2 :</th>
            <td>ROBOTIC AND AUTOMATION</td>
         </tr>
      </table>

   </div>
   <div class="labelq">
      <h4>Qualification Details</h4>
   </div>
   <div class="qualification">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>QualificationName</th>
               <th>Institute</th>
               <th>BoardUniversity</th>
               <th>Batch</th>
               <th>PercentageMarks</th>
               <th>Gap</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th>10th</th>
               <td>NA</td>
               <td>Central Board Of Secondary Education</td>
               <td>2016</td>
               <td>95</td>
               <td>NIL</td>
            </tr>
            <tr>
               <th>Diploma</th>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NIL</td>
            </tr>
            <tr>
               <th>10+2</th>
               <td>NA</td>
               <td>Central Board Of Secondary Education</td>
               <td>2019</td>
               <td>81.8</td>
               <td>1</td>
            </tr>
            <tr>
               <th>Graduation</th>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NIL</td>
            </tr>
            <tr>
               <th>Post Graduation</th>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NIL</td>
            </tr>
            <tr>
               <th>Others</th>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>NA</td>
               <td>1</td>
            </tr>

         </tbody>
      </table>
   </div>
   <div class="labelc">
      <h4>Contact Details as per UMS</h4>
   </div>
   <div class="contact">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>ContactType</th>
               <th>Residence</th>
               <th>Mobile</th>
               <th>Name</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th>Father</th>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <th>Guardian</th>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <th>Mother</th>
               <td></td>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <th>Reference</th>
               <td></td>
               <td></td>
               <td></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="labeld">
      <h4>Fine Imposed (if any) in Drive Attendance</h4>
   </div>
   <div class="fine">

   </div>
   <div class="labele">
      <h4>Placement Drive Summary</h4>
   </div>
   <div class="summary">
      <app-placementsummary></app-placementsummary>
   </div>
   <div class="labelf">
      <h4>Placement Drive Details</h4>
   </div>
   <div class="drive">
      <app-drivedetails></app-drivedetails>
   </div>
   <div class="labelg">
      <h4>Drive Round Status For Drives</h4>
   </div>
   <div class="round">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Company Name</th>
               <th>Round Name Student Failed to clear</th>
               <th>Last Round Name cleared</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let data of PlacementData">
               <td style="color:brown" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{data.companyName}}</td>
               <td>{{data.roundNamestudentFailedToClear}}</td>
               <td>{{data.lastRoundNameCleared}}</td>
            </tr>
         </tbody>
      </table>

   </div>
   <div class="labelh">
      <h4>Performance Summary</h4>
   </div>
   <div class="performance">
      <div class="boxa">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th>Round Name</th>
                  <th>Number of Times Round Cleared</th>
                  <th>Number of Times Failed to Clear</th>
                  <th>Left/Absent</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td></td>

               </tr>
            </tbody>
         </table>
      </div>
      <div class="boxb">

      </div>
   </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-body">
            <app-drivepdf></app-drivepdf>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>