<div [formGroup]="form">
  <app-step-nav
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="isValid"
    (editClick)="editClick.emit()"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="updateClick.emit()"
    (nextClick)="nextClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>

  <!-- Visa -->
  <app-section-card title="Previous Visa" [isEditing]="isEditing">
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">Any Visa Rejection? *</label>
        <select class="form-select" formControlName="IsVisaRejected" [disabled]="!isEditing">
          <option value="">Select</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
      </div>
      <div *ngIf="visaRejected" class="col-md-12">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="form-label">Reason *</label>
            <input class="form-control" formControlName="VisaRejectedReason" [readonly]="!isEditing" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Country *</label>
            <select class="form-select" formControlName="VisaRejectedCountry" [disabled]="!isEditing">
              <option value="">Select country</option>
              <option *ngFor="let c of countries; trackBy: trackByCountryName" [value]="c.name">{{ c.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </app-section-card>

  <!-- English Proficiency -->
  <app-section-card title="English Proficiency" [isEditing]="isEditing">
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">English Test *</label>
        <select class="form-select" formControlName="EnglishTestType" [disabled]="!isEditing">
          <option *ngFor="let opt of englishOptions" [value]="opt.value">{{ opt.label }}</option>
        </select>
      </div>

      <div *ngIf="englishTestType === 'Appeared'" class="col-md-12">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="form-label">Test Name *</label>
            <select class="form-select" formControlName="TestName" [disabled]="!isEditing">
              <option value="">Select Test</option>
              <option *ngFor="let t of englishTestNames" [value]="t">{{ t }}</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label">Test Year *</label>
            <input type="text" class="form-control" formControlName="EnglishTestYear"
              [disabled]="!isEditing" placeholder="YYYY" maxlength="4" pattern="[0-9]{4}" />
            <span *ngIf="isSubmitted && form.get('EnglishTestYear')?.invalid" class="text-danger small">
              Please enter a valid 4-digit year.
            </span>
          </div>
        </div>

        <div *ngIf="hasEnglishYear" class="col-md-12">
          <div class="row mt-2">
            <div class="col-md-4">
              <label class="form-label">Listening Score</label>
              <input class="form-control" formControlName="ListeningScore" [readonly]="!isEditing" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Speaking Score</label>
              <input class="form-control" formControlName="SpeakingScore" [readonly]="!isEditing" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Reading Score</label>
              <input class="form-control" formControlName="ReadingScore" [readonly]="!isEditing" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <label class="form-label">Writing Score</label>
              <input class="form-control" formControlName="WritingScore" [readonly]="!isEditing" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Overall Score</label>
              <input class="form-control" formControlName="OverallScore" [readonly]="!isEditing" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-section-card>

  <!-- Sponsor Details -->
  <app-section-card title="Sponsor Details" [isEditing]="isEditing">
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Sponsor Type *</label>
        <select class="form-select" formControlName="SponsorType" [disabled]="!isEditing">
          <option value="">Select Sponsor Type</option>
          <option value="Parents">Parents</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Available Funds *</label>
        <select class="form-select" formControlName="AvailableFunds" [disabled]="!isEditing">
          <option *ngFor="let opt of availableFundsOptions" [value]="opt.value">{{ opt.label }}</option>
        </select>
      </div>
    </div>

    <!-- Hidden when sponsor is Parents or Parent -->
    <div *ngIf="showSponsorDetails" class="col-md-12">
      <div class="row mt-2">
        <div class="col-md-6">
          <label class="form-label">Sponsor Name *</label>
          <input class="form-control" formControlName="SponsorName" [readonly]="!isEditing" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Sponsor Relation *</label>
          <input class="form-control" formControlName="SponsorRelation" [readonly]="!isEditing" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <label class="form-label">Sponsor Email</label>
          <input class="form-control" formControlName="SponsorEmail" [readonly]="!isEditing" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Sponsor Contact</label>
          <input class="form-control" formControlName="SponsorContact" [readonly]="!isEditing" />
        </div>
      </div>
    </div>
  </app-section-card>

  <app-step-nav
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="isValid"
    [showEdit]="false"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="updateClick.emit()"
    (nextClick)="nextClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>
</div>
