/* Example of custom styles */
.container {
    
    margin: auto;
    padding-top: 20px;
    margin-top:2rem;
    margin-bottom:4rem;
  }
  
  .form-label {
    font-weight: bold;
    color: brown;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  input,select{
    border-style: outset;
    
  }
  button{
    color:white;
  }
  
  .custom-paginator {
    .mat-paginator-range-actions {
      button.mat-paginator-navigation-previous,
      button.mat-paginator-navigation-next {
        border: 1px solid #dee2e6;
        border-radius: 4px;
        margin: 0 4px;
      }
    }
  
    .mat-paginator-page-size {
      margin-right: 16px;
      
      .mat-paginator-page-size-select {
        width: 70px;
      }
    }
  }
  