<div class="container-fluid mt-4" id="DealingUserDashboardId" *ngIf="IsLoginFailed==false; else ErrorApplication">
  <ngx-datatable class="bootstrap table table-striped material" [rows]="AllApplications"
    [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="5"
    [headerHeight]="80" [rowHeight]="'auto'" [scrollbarH]="true">
  

    <ngx-datatable-column name="Registration No" prop="RegistrationNo" [width]="80" [canAutoResize]="true"
      [sortable]="false" [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.registrationNo}}
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Application Id" prop="applicationId" [width]="80" [canAutoResize]="true" [sortable]="false"
      [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.applicationId}}
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="Approval Remarks" [sortable]="false" prop="Id">
      <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <ng-container *ngIf="row.approvalRemarks?.length>0; else Allowss">
          <span class="text-danger" style="font-weight: bold;">{{row.approvalRemarks}}</span><br />
          <span class="text-success" style="font-weight: bold;">{{row.isApproved==='True'? 'Approved' : 'UnApproved'
            }}</span>
        </ng-container>
        <ng-template #Allowss>

          <span class="text-success"> NA</span>

        </ng-template>
      </ng-template>
    </ngx-datatable-column> -->

    
    <!-- <ngx-datatable-column name="University 1" prop="UniversityOption1" [width]="200"[canAutoResize]="true" [sortable]="false"
    [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.universityOption1}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="University 2" prop="UniversityOption2" [width]="200"[canAutoResize]="true" [sortable]="false"
    [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.universityOption2}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="University 3" prop="UniversityOption3" [width]="200" [canAutoResize]="true" [sortable]="false"
    [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.universityOption3}}
      </ng-template>
    </ngx-datatable-column> -->

    <!-- <ngx-datatable-column name="Passport Document" [width]="160" [canAutoResize]="true" [sortable]="false"
      [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn icon-btn"
          [disabled]="!row.passportDocumentPath || row.PassportDocumentPath === 'undefined' || row.passportDocumentPath.trim() === ''"
          (click)="viewDocument(row.passportDocumentPath)" title="View Passport Document">
          <span class="material-icons md-18">description</span> View
        </button>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Fees Document" [width]="160" [canAutoResize]="true" [sortable]="false"
      [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn icon-btn"
          [disabled]="!row.feesProofDocumentPath || row.feesProofDocumentPath === 'undefined' || row.feesProofDocumentPath.trim() === ''"
          (click)="viewDocument(row.feesProofDocumentPath)" title="View Fees Proof Document">
          <span class="material-icons md-18">description</span> View
        </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Consent Letter Document" [width]="180" [canAutoResize]="true" [sortable]="false"
      [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn icon-btn"
          [disabled]="!row.consentLetterDocumentPath || row.consentLetterDocumentPath === 'undefined' || row.consentLetterDocumentPath.trim() === ''"
          (click)="viewDocument(row.consentLetterDocumentPath)" title="View Consent Letter Document">
          <span class="material-icons md-18">description</span> View
        </button>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Resume Document" [width]="160" [canAutoResize]="true" [sortable]="false"
      [draggable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn icon-btn"
          [disabled]="!row.resumeDocumentPath || row.resumeDocumentPath === 'undefined' || row.resumeDocumentPath.trim() === ''"
          (click)="viewDocument(row.resumeDocumentPath)" title="View Resume Document">
          <span class="material-icons md-18">description</span> View
        </button>
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Phone" prop="phoneNumber" [width]="80">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.phoneNumber}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Parent Phone" prop="ParentContact" [width]="80">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.parentContact}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Whatsapp No" prop="WhatsAppNo" [width]="80">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.whatsAppNo}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Counselling Status" prop="counsellingStatus" [width]="80">
      <ng-template let-row="row" ngx-datatable-cell-template>
    
        <span class="badge" [ngClass]="{
              'bg-success': row.counsellingStatus === '1',
              'bg-danger': row.counsellingStatus === '0',
              'bg-warning text-dark': !row.counsellingStatus || row.counsellingStatus === 'null'
            }">
          {{
          row.counsellingStatus === '1' ? 'Verified' :
          row.counsellingStatus === '0' ? 'Rejected' :
          'Pending'
          }}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Application" prop="WhatsAppNo" [width]="80">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn icon-btn me-2" (click)="GetStudentApplication(row)">
          View Application
        </button>
      </ng-template>
    </ngx-datatable-column>

    <!-- Actions -->

    <ngx-datatable-column name="Actions" [sortable]="false" prop="Id">
      <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <ng-container *ngIf="row.isForwardtoHOD==null && row.dealingHODId==null; else Applied " >
          <button class="btn icon-btn me-2" (click)="disapproveApplication(row)">
            Reject
          </button>

          <button class="btn btn-danger" (click)="ForwardToHod(row,'Hod')">
            Forward To HOD
          </button>
          <button class="btn btn-danger" (click)="ForwardToHod(row,'Faculty')">
            Farward To Faculty
          </button>
        </ng-container>
        <ng-template #Applied>
          <span class="themeClr"> Current Dealing UID : {{row.dealingHODId?.length>0? row.dealingHODId: row.dealingUId }}</span>
          <!-- <i class="mdi mdi-check"></i>            -->
       </ng-template>
      </ng-template>
    </ngx-datatable-column>
   
  </ngx-datatable>
</div>

<div class="full-page-loader" *ngIf="loadingIndicator" aria-label="Loading">
  <div class="loader-spinner">
    <span class="material-icons md-48 spin-icon">autorenew</span>
  </div>
</div>



<ng-template #EvaluationModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Evaluation Form</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="EvaluationForm" (ngSubmit)="submitEvaluationForm()" class="forms-sample">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Application ID:</label>
          <input type="text" class="form-control" [value]="ApplicationId" disabled />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Registration Number:</label>
          <input type="text" class="form-control" [value]="RegistrationNo" disabled />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let field of [
          {label: 'Academics Marks', name: 'AcademicsMarks'},
          {label: 'Communication Skills Marks', name: 'CommunicationSkillsMarks'},
          {label: 'Attitude Marks', name: 'AttitudeMarks'},
          {label: 'Extra-Curricular Activities Marks', name: 'ExtraCurricularMarks'},
          {label: 'Knowledge Marks', name: 'KnowledgeMarks'}
        ]">
          <label class="form-label">{{field.label}}:</label>
          <input type="number" class="form-control" [formControlName]="field.name" min="0" max="100" />
          <div
            *ngIf="EvaluationForm.get(field.name)?.invalid && (EvaluationForm.get(field.name)?.touched || isForm1Submitted)"
            class="text-danger">
            Please enter a valid {{field.label}} (0-100).
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="form-label">Comments:</label>
          <textarea class="form-control" rows="3" formControlName="Comments"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label class="form-label">Upload Evaluation Form Document <span class="text-danger">*</span></label>
          <input type="file" class="form-control" (change)="onFileSelectedEvaluationForm($event)"
            [ngClass]="{ 'is-invalid': EvaluationForm.get('EvalutionDocumentPath')?.invalid && (isForm1Submitted || EvaluationForm.get('EvalutionDocumentPath')?.touched) }" />
          <div
            *ngIf="EvaluationForm.get('EvalutionDocumentPath')?.invalid && (isForm1Submitted || EvaluationForm.get('EvalutionDocumentPath')?.touched)"
            class="text-danger">
            Please upload a valid evaluation document.
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
        <button type="submit" class="btn btn-success" [disabled]="EvaluationForm.invalid">Submit Evaluation</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #ErrorApplication>
  <div class="text-center" *ngIf="IsLoginFailed">
    <h3 class="text-center fs-2 m-5 text-danger pt-5 "> Error in User Login . </h3>
    <div class="row mt-4 mb-4">
      <div class="col-sm-12 text-center">
        <div class="mb-3 p-4">
          <Label class="form-label fs-4 text-danger ">Unauthorise Access.</Label>
        </div>
      </div>
    </div>
  </div>
</ng-template>