<div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-1 ">
            <button class="btn " type="submit" (click)="exportToPdf()">Download</button>
        </div>
        <div class="labela col-sm-9">
            <p id="head"> Drive Details</p>
        </div>
    </div>
    <div class="data" id="dataTable">
        <div class="labelb">
            <h4>Guest Lecture for HIGHRADIUS</h4>
        </div>
        <div class="labelc">
            <h4>CSE/IT,ECE,EEE,ME,CE,Bioengineering and Biosciences,Chemical Engineering and Physical Sciences 2023
                batch</h4>
        </div>

        <div class="tablea">
            <table class="table table-hover">
                <tr>
                    <th>Drive Code</th>
                    <td>SM.18528.2023.22809</td>

                </tr>
                <tr>
                    <th>Name & Type of Event</th>
                    <td>Guest Lecture</td>
                </tr>
                <tr>
                    <th>Name of Company</th>
                    <td>HIGHRADIUS</td>
                </tr>

            </table>
        </div>
        <div class="labelb">
            <h4>Job Description</h4>
        </div>
        <div class="tableb">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Program/Stream</th>
                        <th>Designation</th>
                        <th>Eligibility</th>
                        <th>Salary Package</th>
                        <th>Job Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>B.Tech CSE/IT</td>
                        <td>Dot Net Developer</td>
                        <td>No Standing Arrears</td>
                        <td>Stipend Rs 30000 PM during internship then CTC Rs 10 LPA</td>
                        <td>New Delhi</td>
                    </tr>
                    <tr>
                        <td>BHMCT, B.Sc Hotel Management</td>
                        <td>Holiday Sales/ Flight Support</td>
                        <td>No Standing Arrears</td>
                        <td>Stipend Rs 15000 to Rs 20000 PM during internship then CTC Rs 3 LPA</td>
                        <td>New Delhi</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="tablec">
            <table class="table table-striped">
                <tr>
                    <th>Year (Passing Out)</th>
                    <td>2023</td>
                </tr>
                <tr>
                    <th>Venue</th>
                    <td>From your Respective Location</td>
                </tr>
                <tr>
                    <th>Drive Date</th>
                    <td style="background-color: yellow;">May 24 2022 9:00AM Confirmed</td>
                </tr>
            </table>

        </div>
        <div class="labeld">
            <h4>Selection Process</h4>
        </div>
        <div class="tabled ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Round Name</th>
                        <th>Expected Start Time</th>
                        <th>Expected End Time</th>
                        <th>Round Decription</th>
                        <th>Is Elimination Round</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Registration</th>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>From Your Location</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <th>PPT</th>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>From Your Location</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <th>HR Interview</th>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>From Your Location</td>
                        <td>NO</td>
                    </tr>
                    <tr>
                        <th>Online Test</th>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>Dec 23 2021 12:00AM</td>
                        <td>From Your Location</td>
                        <td>NO</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tablee">
            <table class="table table-striped">
                <tr>
                    <th>Whom to contact</th>
                    <td> RAGHAV GUPTA (Seating Location : 32-304 )OR <a
                            href="https://ums.lpu.in/lpuums/frmMtsMessage.aspx"> Raise RMS Query</a>
                        OR Training and Placement Coordinator(TPC) of your respective school</td>
                </tr>
                <tr>
                    <th>Last Date of Registration</th>
                    <td style="background-color: red;color:black ">Dec 21 2021 5:00PM</td>
                </tr>
                <tr>
                    <th>Eligible Gender</th>
                    <td>Both</td>
                </tr>
                <tr>
                    <th>Bond Details</th>
                    <td>NA</td>
                </tr>
                <tr>
                    <th>About Company</th>
                    <td>HighRadius is a Fintech enterprise Software-as-a-Service (SaaS) company. The HighRadiusTM
                        Integrated Receivables platform reduces cycle times in the order-to-cash process through
                        automation of receivables and payments across credit, electronic billing and payment processing,
                        cash application, deductions and collections. Powered by the RivanaTM Artificial Intelligence
                        Engine and Freeda Digital Assistant for order-to-cash teams, HighRadius enables organizations to
                        leverage machine learning to predict future outcomes and automate routine labor-intensive tasks.
                        The radiusOneTM B2B payment network allows suppliers to digitally connect with buyers, closing
                        the loop from supplier receivable processes to buyer payable processes. HighRadius solutions
                        have a proven track record of optimizing cash flow, reducing days sales outstanding (DSO) and
                        bad debt, and increasing operational efficiency so companies may achieve strong ROI in just a
                        few months</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td><a href="	https://www.highradius.com/">https://www.highradius.com/</a></td>
                </tr>
                <tr>
                    <th>Job Profile</th>
                    <td>
                        Speakers: <a href="https://www.linkedin.com/in/sonali-nanda/">Sonali Nanda</a> & <a
                            href="https://www.linkedin.com/in/kiranbikashrana/">Kiran Bikash Rana</a>

                        Topic: HighRadius Orientation Session</td>
                </tr>
                <tr>
                    <th>Pre-Requirements</th>
                    <td>
                        <p>Important Notes:</p><br>

                        <p id="man">** Its mandatory to students register on following link : </p>
                        https://docs.google.com/forms/d/e/1FAIpQLScRP59ygXISnLqApXrfs6_7y8d2IedZNItEgZQhhZ9PmDKvrg/viewform
                        <br>
                        Company shortlisting/filtering:<br>
                        <p id="short"> Company may perform a shortlisting over the pool of the students registered for
                            the drive. In this case, only the set of students shortlisted by company will be allowed to
                            appear in the drive.</p>
                        <br>Documents Required:<br>
                        Students must carry 2 copies of Resume,academic certificates, along with 2 passport size
                        photographs.
                        <br>Eligibility:<br>
                        All the students must ensure that they meet each and every clause of the eligibility criteria
                        mentioned above.Any student who does not meet the eligibility criteria, must immediately report
                        in person or inform through email to the respective TPCs or to contact person mentioned above
                        for de-registration from the drive within the registration deadline..
                        <br>Student Reporting Schedule:<br>
                        For the PPT/Online/WrittenTest and Interviews will be separately announced through UMS.
                        <br>Dress Code:<br>
                        Student must dress up in formals for all the days of the selection process starting with PPT &
                        Online Test. Defaulters will not be allowed to appear for the process and will be dealt as per
                        policy.
                        <br>Drive Registration:<br>
                        Registration request after the lapse of drive registration deadline mentioned above will
                        strictly not be entertained from any student.
                        <br>Queries:<br>
                        Students shall contact their respective TPCs in case of any queries/concerns.
                        <br> DISCLAIMER:<br>
                        While the University observes due diligence in ascertaining the veracity and credentials of the
                        potential recruiters, the students are advised in their own interest to satisfy themselves by
                        visiting the Company website / other sources etc. before opting for a Company Placement Process.
                    </td>
                </tr>
            </table>

        </div>

    </div>
</div>