<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="text-center">
  <h3 class="text-center fs-2 m-5 text-warn pt-2"> Unauthorised Access </h3>
  <div class="row mt-4 mb-4 d-flex justify-content-center">
    <div class="col-3">
      <ul class="list-group w-20">
        <label class="form-label fs-5 badge bg-danger themeClr">Why ? </label>
        <li class="list-group-item">You are trying to access the page not available for you.</li>
        <li class="list-group-item">Your current session has expired.</li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="list-group w-20">
        <label class="form-label fs-5 badge bg-danger themeClr">Try Following step(s) :- </label>
        <li class="list-group-item">Logout your current session. </li>
        <li class="list-group-item">Try Login again.</li>
      </ul>
    </div>
  </div>
</div>
