<app-menu-bar></app-menu-bar>
<div class="label container-fluid">
    <h4> Students of the following streams may use the format for preparing their CV . Please refer to the example for
        guidance.</h4>
</div>
<div class="labela container-fluid">
    <h4 id="branch">CSE, ECE , EEE, CAP , BIOTEC, MCA, CIVIL ENGINEERING , MECHANICAL ENGINEERING</h4>
</div>
<div class="box container-fluid">
    <form [formGroup]="formdata" (ngSubmit)="OnSubmit()">
        <div class="row mt-4 d-flex justify-content-center align-items-center mb-5">
            <div class="col-sm-3 mt-2 text-end">
                <label class="fs-4 ">Select Format:</label>
                </div>
                <div class="col-sm-8">
                <select class="form-select w-75" formControlName="selectedcoord" aria-label="Default select example">
                    <option value="Select">Select </option>
                    <option value="ResumeFormat">ResumeFormat</option>
                    <option value="ResumeExample">ResumeExample</option>

                </select>
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn"
                [disabled]="formdata.get('selectedcoord')?.value === 'Select'">Download</button>
        </div>
    </form>
</div>