<div class="container-fluid mt-4" *ngIf="Logincheck; else ErrorApplication">
  <app-sm-admin-bar></app-sm-admin-bar>

  <div class="col-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center fs-3 text-success">All Applications</h4>
      </div>
    </div>
  </div>

  <div class="col-12 stretch-card" *ngIf="stuApplication.length > 0; else noRecords">
    <div class="card">
      <div class="card-body">
        <div class="row d-flex justify-content-center align-items-center mb-3">
          <div class="col-4">
            <button 
              (click)="exportToExcel()" 
              class="btn btn-dark ms-5 me-3" 
              [disabled]="filteredstuApplication.length == 0">
              Export to Excel
            </button>
          </div>
          <div class="col-4 text-start">
            <input 
              [(ngModel)]="searchQuery"
              type="text" 
              class="form-control"
              (ngModelChange)="onSearchChange($event)"
              placeholder="Search" />
          </div>
        </div>

        <div class="table-responsive" *ngIf="filteredstuApplication.length > 0; else DataRecords">
          <ngx-datatable 
            class="bootstrap table table-striped material" 
            [rows]="filteredstuApplication"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [headerHeight]="80"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [limit]="15">

            <ngx-datatable-column name="VID" [sortable]="false" prop="registrationNo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.registrationNo" class="fw-bold p-2">{{row.registrationNo}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Contact No" [sortable]="false" prop="whatsAppNo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.whatsAppNo; else NowhatsAppNo">{{row.whatsAppNo}}</span>
                <ng-template #NowhatsAppNo>
                  <span class="badge bg-danger">Not Found</span>
                </ng-template>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status" [sortable]="false" prop="isRejected">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container [ngSwitch]="row.isRejected">
                  <div *ngSwitchCase="1" class="badge bg-danger p-2">Rejected: {{row.reasonOfRejection}}</div>
                  <div *ngSwitchCase="0" class="badge bg-success">Accepted</div>
                  <div *ngSwitchDefault class="badge bg-warning">Pending</div>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Application Id" prop="applicationId">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.applicationId}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Counselling Status" prop="counsellingStatus">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container [ngSwitch]="row.counsellingStatus">
                  <div *ngSwitchCase="1" class="badge bg-success p-2"> Applied </div>
                  <div *ngSwitchCase="0" class="badge bg-danger">Pending</div>
                  <div *ngSwitchDefault class="badge bg-warning">Pending</div>
                </ng-container>
                <!-- <span class="badge" [ngClass]="{'bg-success': row.counsellingStatus === '1', 'bg-danger': row.counsellingStatus === '0'}">
                  {{ row.counsellingStatus === '1' ? 'Verified' : 'Rejected' }}
                </span> -->
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary" (click)="submitCounsellingRemarks(row)">
                  Counselling Remarks
                </button>
                <button class="btn icon-btn me-2" (click)="GetStudentApplication(row)">View Application</button>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>

        <ng-template #DataRecords>
          <div class="col-12 stretch-card">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="text-danger">No records found.</h4>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-template #noRecords>
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="text-danger">No Records Found.</h4>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #ErrorApplication>
  <div class="text-center mt-5">
    <h3 class="fs-2 text-danger">Error in User Login</h3>
    <p class="fs-4 text-danger">Unauthorized Access</p>
  </div>
</ng-template>

<!-- <div class="container-fluid mt-4" id="HodDashboard" *ngIf="!Logincheck; else ErrorApplication">
  <app-sm-admin-bar></app-sm-admin-bar>
<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="col-12">
        <div class="card-body">
          <h4 class="card-title text-center fs-3 text-success">All Applications</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 stretch-card" *ngIf="this.stuApplication.length >0; else noRecords">
  <div class="card">
    <div class="card-body">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4 ">
          <button (click)="exportToExcel()" class="btn btn-dark ms-5 me-3" [disabled]="this.filteredstuApplication.length ==0">Export to Excel</button>

        </div>
        <div class="col-4 text-start">
          <div class="mb-3">
            <input [(ngModel)]="searchQuery"  id="search" type="text" class="form-control" (ngModelChange)="onSearchChange($event)"
              placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
          </div>
        </div>
      </div>
      <div class="col-">
        <div class="table-responsive" *ngIf="this.filteredstuApplication.length >0; else DataRecords">
          <ngx-datatable class="bootstrap table table-striped material" [rows]="filteredstuApplication"
            [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10"
            [headerHeight]="80" [footerHeight]="50"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [limit]="15"
          > 

            <ngx-datatable-column name="VId" [sortable]="false" prop="Id">
              <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <ng-container *ngIf="row.registrationNo != null">
                  <span
                    style="margin: auto;float: left; font-weight: bold;padding: 10px 10px 10px 10px;">{{row.registrationNo}}</span>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Contact No" [sortable]="false" prop="whatsAppNo">
              <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <ng-container *ngIf="row.whatsAppNo != null; else NowhatsAppNo">
                   <span >{{row.whatsAppNo}}</span>
                </ng-container>
                <ng-template #NowhatsAppNo>
                  <span class="badge bg-danger me-4">Not Found</span>
                </ng-template>
              </ng-template>
            </ngx-datatable-column>
             

            <ngx-datatable-column name="Status" [sortable]="false" prop="Id">
              <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <ng-container [ngSwitch]="row.isRejected">
                  <ng-container *ngSwitchCase="1">
                    <div class="badge bg-danger p-2 col-md-8">Rejected <span class="fw-bold text-dark">Reason
                      </span>
                      {{row.reasonOfRejection }}</div>
                  </ng-container>
                  <ng-container *ngSwitchCase="0">
                    <div class="badge bg-success  ">Accepted </div>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div class="badge bg-danger ">Pending </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Application Id" prop="applicationId" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.applicationId}}
              </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Contact No" prop="phoneNumber" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phoneNumber}}
              </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="WhatsApp No" prop="whatsAppNo" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.whatsAppNo}}
              </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Parent Phone" prop="parentContact" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.parentContact}}
              </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Counselling Status" prop="counsellingStatus" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="badge"
                  [ngClass]="{'bg-success': row.counsellingStatus === '1', 'bg-danger': row.counsellingStatus === '0'}">
                  {{ row.counsellingStatus === '1' ? 'Verified' : 'Rejected' }}
                </span>
              </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Application Status" prop="applicationStatus" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.applicationStatus}}
              </ng-template>
            </ngx-datatable-column>
        
        
            <ngx-datatable-column name="Actions" [sortable]="false" prop="Id">
              <ng-template let-row="row" ngx-datatable-cell-template>
               
                <button class="btn btn-primary" (click)="submitCounsellingRemarks(row)">Submit Counselling Remarks</button>
                
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          
        </div>
        <ng-template #DataRecords>
          <div class="col-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h1 class="text-center text-danger">No records found.</h1>
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
<ng-template #noRecords>
  <div class="col-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <label class="text-center fs-2 text-danger d-flex justify-content-center"> No Records found.</label>
      </div>
    </div>
  </div>
</ng-template>
</div>
<ng-template #ErrorApplication>
  <div class="text-center" *ngIf="Logincheck">
    <h3 class="text-center fs-2 m-5 text-danger pt-5 "> Error in User Login . </h3>
    <div class="row mt-4 mb-4">
      <div class="col-sm-12 text-center">
        <div class="mb-3 p-4">
          <Label class="form-label fs-4 text-danger ">Unauthorise Access.</Label>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->