<div [formGroup]="form">
  <app-step-nav
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="isValid"
    [showBack]="!hideBackNext"
    [showNext]="!hideBackNext"
    (editClick)="editClick.emit()"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="updateClick.emit()"
    (nextClick)="nextClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>

  <app-section-card title="University Preferences" [isEditing]="isEditing">
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">Applying For *</label>
        <select class="form-select" formControlName="ApplyingOption" [disabled]="!isEditing">
          <option value="">Select</option>
          <option value="Spring (Jan to May Intake)">Spring (Jan to May Intake)</option>
          <option value="Fall (Aug to Dec Intake)">Fall (Aug to Dec Intake)</option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4">
        <label class="form-label">Preference 1 *</label>
        <select class="form-select" formControlName="UniversityOption1" [disabled]="!isEditing">
          <option value="">Select University</option>
          <option *ngFor="let u of uniData; trackBy: trackByUniversityName" [value]="u.universityName">{{ u.universityName }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Preference 2 *</label>
        <select class="form-select" formControlName="UniversityOption2" [disabled]="!isEditing">
          <option value="">Select University</option>
          <option *ngFor="let u of uniData; trackBy: trackByUniversityName" [value]="u.universityName"
            [disabled]="u.universityName === uni1">{{ u.universityName }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Preference 3 *</label>
        <select class="form-select" formControlName="UniversityOption3" [disabled]="!isEditing">
          <option value="">Select University</option>
          <option *ngFor="let u of uniData; trackBy: trackByUniversityName" [value]="u.universityName"
            [disabled]="u.universityName === uni1 || u.universityName === uni2">{{ u.universityName }}</option>
        </select>
      </div>
    </div>
  </app-section-card>

  <app-section-card title="Passport Details" [isEditing]="isEditing">
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="form-label">Passport Status *</label>
        <select class="form-select" formControlName="PassportStatus" [disabled]="!isEditing">
          <option value="">Select</option>
          <option value="Yes">Yes</option>
          <option value="Applied">Applied</option>
          <option value="No">No</option>
        </select>
      </div>

      <div *ngIf="passportStatus === 'Yes'" class="col-md-12">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="form-label">Passport Number *</label>
            <input class="form-control" formControlName="PassportNumber" [readonly]="!isEditing" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Issue Date *</label>
            <input type="date" class="form-control" formControlName="PassportIssueDate" [readonly]="!isEditing" />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="form-label">Valid Upto *</label>
            <input type="date" class="form-control" formControlName="PassportValidUpto" [readonly]="!isEditing" />
          </div>
        </div>
      </div>
    </div>
  </app-section-card>

  <app-step-nav
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="isValid"
    [showBack]="!hideBackNext"
    [showNext]="!hideBackNext"
    [showEdit]="false"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="updateClick.emit()"
    (nextClick)="nextClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>
</div>
