<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Visit </a></li>
        <li class="breadcrumb-item active" aria-current="page">Summer School *</li>
    </ol>
</nav>

<ng-container class="row" id="myTabs" *ngIf="isLoginFailed==false; else loginFailed">
    <nav>
        <div class="nav nav-tabs nav nav-tabs d-flex justify-content-center " id="nav-tab" role="tablist">
            <button class=" btn btn-lg btn-primary me-5" id="summerschool-incomming-tab" data-bs-toggle="tab"
                style="padding: .95rem 8rem;" data-bs-target="#summerschool-incomming" type="button" role="tab"
                aria-controls="summerschool-incomming" aria-selected="false">Summer school Incomming</button>

            <button class=" btn btn-primary btn-lg ms-5" id="summerschool-outgoing-tab" data-bs-toggle="tab"
                style="padding: .95rem 8rem;" data-bs-target="#summerschool-outgoing" type="button" role="tab"
                aria-controls="summerschool-outgoing" aria-selected="false">Summer School Outgoing</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- Tab one contents -->
        <div class="tab-pane fade " id="summerschool-incomming" role="tabpanel"
            aria-labelledby="summerschool-incomming-tab">

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-center fs-3 text-danger">New Incoming Form</h5>
                            <form #universityForm="ngForm" (ngSubmit)="RegisterSummerSchool()">
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="UniversityName" class="fw-bold fs-6 text-success">University
                                                    Name:</label>
                                                <input type="text" [(ngModel)]="UniversityName" id="UniversityName"
                                                    name="UniversityName" ngModel required class="form-control "
                                                    required placeholder=" " autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="Country" class="fw-bold fs-6 text-success">Country :</label>
                                                <select name="Country" class="form-control" [(ngModel)]="Country"
                                                    id="Country" (ngModelChange)="onCountryChange()">
                                                    <option value="" selected>Please Select Country</option>
                                                    <option [value]="currency.text"
                                                        *ngFor="let currency of CurrencyList">{{
                                                        currency.text }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="UniversityRank" class="fw-bold fs-6 text-success">No of
                                                    Participants</label>
                                                <input type="number" [(ngModel)]="Participants" id="Participants"
                                                    name="Participants" ngModel required class="form-control"
                                                    (ngModelChange)="addRegistrationRows()" placeholder=" "
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ROW TWO DATE and DURATION  -->
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="startDate" class="fw-bold fs-6 text-success"> Start
                                                    Date:</label>
                                                <input type="date" [(ngModel)]="startDate" id="startDate"
                                                    name="startDate" ngModel class="form-control"
                                                    (ngModelChange)="calculateDays()" required placeholder=" "
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="endDate" class="fw-bold fs-6 text-success"> End
                                                    Date:</label>
                                                <input type="date" [(ngModel)]="endDate" id="endDate" name="endDate"
                                                    ngModel class="form-control" (ngModelChange)="calculateDays()"
                                                    required placeholder="Visit End Date " autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="Proof1" class="fw-bold fs-6 text-success">Duration </label>
                                                <br />
                                                <input type="text" [(ngModel)]="Days" id="Days" name="Days" ngModel
                                                    class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ROW THREE AMOUN AND AMOUNT REMARKS  -->
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label for="currencySymbol" class="fw-bold fs-6 text-success">Amount
                                            </label><br />
                                            <div class="form-group d-flex justify-content-">
                                                <input type="number" [(ngModel)]="Amount" id="Amount" name="Amount"
                                                    ngModel required class="form-control " required placeholder="Amount"
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="UniversityName" class="fw-bold fs-6 text-success">Remarks
                                                    for Amount </label>
                                                <input type="text" [(ngModel)]="RemarksAmount" id="RemarksAmount"
                                                    name="RemarksAmount" ngModel class="form-control "
                                                    placeholder=" Remarks for Amount" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" id="ExcelProofList">
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <div class="form-group">
                                                    <label class="fw-bold fs-6 text-danger"> Participants List
                                                        Sheet</label>
                                                    <input required type="file" id="exclSheet" name="excelSheet"
                                                        [(ngModel)]="excelSheet" (change)="onFileSelectedXls($event)"
                                                        accept=".xls,.xlsx" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Button to Store data in Database -->
                                <div class="row mt-4 mb-4">
                                    <div class="mb-3" id="ProofsData">
                                        <div class="form-group">
                                            <label for="Proof1" class="fw-bold fs-6 text-success">Upload
                                                All Proofs</label> <br />
                                            <input required type="file" id="File" name="File" [(ngModel)]="ProofFile1"
                                                (change)="onFileSelected($event)" accept=".zip,.7z" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary me-2"
                                                    [disabled]="!universityForm.valid">Save Record</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="SchoolData?.length > 0 ">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mt-4 mb-4">
                                <div class="col-">
                                    <div class="mb-3 text-center">
                                        <Label class="text-center fs-2 text-danger">Incomming Summer school
                                            Report</Label>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="SchoolDataIn?.length > 0; else noRecords">
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <button (click)="exportToExcels()" class="btn btn-success ">Export to
                                                ExcelSheet</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <input type="text" (keyup)="applyFilterIn($event)" placeholder="Search..." class="form-control">
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Angular Material Table for Incoming Data -->
                                <div class="table-responsive mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSourceIn" matSort #sortIn="matSort" class="w-100">
                                        
                                        <!-- University Column -->
                                        <ng-container matColumnDef="universityName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">University</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.universityName}}</td>
                                        </ng-container>
                                        
                                        <!-- Country Column -->
                                        <ng-container matColumnDef="country">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Country</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.country}}</td>
                                        </ng-container>
                                        
                                        <!-- Participants Excel Sheet Column -->
                                        <ng-container matColumnDef="xlsFileName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Participants Excel Sheet</th>
                                            <td mat-cell *matCellDef="let row">
                                                <div class="text-danger text-center fs-5">
                                                    {{row.participants}}
                                                    <ng-container *ngIf="row.xlsFileName != null; else NoSheetDocIn">
                                                        <br />
                                                         <button class="btn btn-dark me-2" (click)="onDownloadFile(row.xlsFileName, this.serverUrl)">
                                                        <i class="bi bi-file-earmark-text"></i>
                                                    </button>
                                                        <!-- <a class="me-2" [href]="this.serverUrl + row.xlsFileName" target="_blank">
                                                            <i class="mdi ms-2 fs-3 mdi-file"></i>
                                                        </a> -->
                                                    </ng-container>
                                                    <ng-template #NoSheetDocIn>
                                                        <span class="text-danger">No Uploaded Yet</span>
                                                    </ng-template>
                                                </div>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Start Date Column -->
                                        <ng-container matColumnDef="startDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Visit Start Date</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.startDate | date:'dd/MM/yyyy'}}</td>
                                        </ng-container>
                                        
                                        <!-- End Date Column -->
                                        <ng-container matColumnDef="endDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Visit End Date</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.endDate | date:'dd/MM/yyyy'}}</td>
                                        </ng-container>
                                        
                                        <!-- Duration Column -->
                                        <ng-container matColumnDef="visitDuration">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Visit Duration (Days)</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.visitDuration}}</td>
                                        </ng-container>
                                        
                                        <!-- Proof Column -->
                                        <ng-container matColumnDef="uploadProof">
                                            <th mat-header-cell *matHeaderCellDef class="text-danger fw-bold">Proof</th>
                                            <td mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row.uploadProof; else NoFileIn">
                                                    <button class="btn btn-dark me-2" (click)="onDownloadFile(row.uploadProof, this.serverUrl)">
                                                        <i class="bi bi-file-earmark-text"></i>
                                                    </button>
                                                    <!-- <a class="fs-5 me-2" [href]="this.serverUrl + row.uploadProof" target="_blank">
                                                        <i class="mdi ms-2 fs-3 mdi-file"></i>
                                                    </a> -->
                                                </ng-container>
                                                <ng-template #NoFileIn>
                                                    <span>No Proof Uploaded</span>
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Amount Column -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Amount Received</th>
                                            <td mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row.amount > 0; else NoAmountIn">
                                                    {{row.amount}}
                                                </ng-container>
                                                <ng-template #NoAmountIn>
                                                    <span>NA</span>
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Remarks Column -->
                                        <ng-container matColumnDef="remarksAmounts">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Amount Particulars</th>
                                            <td mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row.remarksAmounts && row.remarksAmounts.length > 2; else NoRemarksIn">
                                                    {{row.remarksAmounts}}
                                                </ng-container>
                                                <ng-template #NoRemarksIn>
                                                    <span>NA</span>
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Approval Status Column -->
                                        <ng-container matColumnDef="isApproved">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Approval Status</th>
                                            <td mat-cell *matCellDef="let row">
                                                <ng-container [ngSwitch]="row.isApproved">
                                                    <ng-container *ngSwitchCase="1">
                                                        <div class="fw-bold fs-6 text-success">Approved By {{row.approvedBy}}</div>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="0">
                                                        <div class="fw-bold fs-6 text-danger">Disapproved by {{row.approvedBy}}<br />** {{row.disapprovalReason}}</div>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <div class="fw-bold fs-6 text-info">Pending Approval</div>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Header and Row Definitions -->
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsIn; sticky: true" class="bg-light"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsIn;"></tr>
                                        
                                        <!-- No Data Row -->
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" [attr.colspan]="displayedColumnsIn.length">
                                                No data matching the filter
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <!-- Paginator -->
                                    <mat-paginator #paginatorIn [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                                </div>
                            </ng-container>
                            <ng-template #noRecords>
                                <p class="fs-2 text-danger text-center ">No Grid Data Available.</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tab Two contents -->
        <div class="tab-pane fade" id="summerschool-outgoing" role="tabpanel"
            aria-labelledby="summerschool-outgoing-tab">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-center fs-3 text-danger">New Outgoing Form</h5>
                            <form #universityOutgoingForm="ngForm" (ngSubmit)="OutgoingSummerSchool()">
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="UniversityOutgoingName"
                                                    class="fw-bold fs-6 text-success">University
                                                    Name:</label>
                                                <input type="text" [(ngModel)]="UniversityOutgoingName"
                                                    id="UniversityOutgoingName" name="UniversityOutgoingName" ngModel
                                                    class="form-control" required placeholder=" University "
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="SelfCountry" class="fw-bold fs-6 text-success">Country
                                                    :</label>
                                                <input type="text" [(ngModel)]="SelfCountry" id="SelfCountry"
                                                    name="SelfCountry" ngModel class="form-control" autocomplete="off"
                                                    placeholder=" Country" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="ParticipantsOut" class="fw-bold fs-6 text-success">No of
                                                    Participants</label>
                                                <input type="number" [(ngModel)]="ParticipantsOut" id="ParticipantsOut"
                                                    name="ParticipantsOut" ngModel required class="form-control"
                                                    (ngModelChange)="addRegistrationRowsOut()" placeholder=" "
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ROW TWO DATE and DURATION  -->
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="startDateOut" class="fw-bold fs-6 text-success"> Start
                                                    Date:</label>
                                                <input type="date" [(ngModel)]="startDateOut" id="startDateOut"
                                                    name="startDateOut" ngModel class="form-control"
                                                    (ngModelChange)="calculateDaysOut()" required placeholder=" "
                                                    autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="endDateOut" class="fw-bold fs-6 text-success"> End
                                                    Date:</label>
                                                <input type="date" [(ngModel)]="endDateOut" id="endDateOut"
                                                    name="endDateOut" ngModel class="form-control"
                                                    (ngModelChange)="calculateDaysOut()" required
                                                    placeholder="Visit End Date " autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="DaysOut" class="fw-bold fs-6 text-success">Duration </label>
                                                <br />
                                                <input type="text" [(ngModel)]="DaysOut" id="DaysOut" name="DaysOut"
                                                    ngModel class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ROW THREE AMOUN AND AMOUNT REMARKS  -->
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="AmountOut" class="fw-bold fs-6 text-success">Amount
                                                    :</label>
                                                <input type="number" [(ngModel)]="AmountOut" id="AmountOut"
                                                    name="AmountOut" ngModel class="form-control " required
                                                    placeholder="Amount" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="RemarksAmountOut" class="fw-bold fs-6 text-success">Remarks
                                                    for Amount </label>
                                                <input type="text" [(ngModel)]="RemarksAmountOut" id="RemarksAmountOut"
                                                    name="RemarksAmountOut" ngModel class="form-control "
                                                    placeholder=" " autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label class="fw-bold fs-4 text-danger">Participants List Excel</label>
                                                <br />
                                                <input required type="file" id="exclSheet" name="excelSheet"
                                                    [(ngModel)]="excelSheet" (change)="onFileSelectedXls($event)"
                                                    accept=".xls,.xlsx" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row to provide save button  -->
                                <div class="row mt-4 mb-4">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="File" class="fw-bold fs-6 text-success">Upload
                                                    All Proofs</label> <br />
                                                <input required type="file" id="File" name="File"
                                                    [(ngModel)]="ProofFile1" (change)="onFileSelected($event)"
                                                    accept=".zip,.7z" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <div class="form-group text-center">
                                                <label for="submit" class="fw-bold fs-6 text-success"> </label>
                                                <button type="submit" class="btn btn-primary me-2" id="submit"
                                                    [disabled]="!universityOutgoingForm.valid">Save Record </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mt-4 mb-4">
                                <div class="col-">
                                    <div class="mb-3 text-center">
                                        <Label class="text-center fs-2 text-success">Outgoing Summer school
                                            Report</Label>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="SchoolDataOut?.length > 0; else noRecords">
                                <div class="row mt-4 mb-4 d-flex justify-content-">
                                    <div class="col-4">
                                            <button (click)="exportToExcelOut()" class="btn btn-success ">Export to
                                                ExcelSheet</button>
                                    </div>
                                    <div class="col-4">
                                            <input type="text" (keyup)="applyFilterOut($event)" placeholder="Search..." class="form-control">
                                    </div>
                                
                                </div>
                                
                                <!-- Angular Material Table for Outgoing Data -->
                                <div class="table-responsive mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSourceOut" matSort #sortOut="matSort" class="w-100">
                                        
                                        <!-- University Column -->
                                        <ng-container matColumnDef="universityName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">University</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.universityName}}</td>
                                        </ng-container>
                                        
                                        <!-- Country Column -->
                                        <ng-container matColumnDef="country">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Country</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.country}}</td>
                                        </ng-container>
                                        
                                        <!-- Participants Column -->
                                        <ng-container matColumnDef="participants">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold text-center">Participants</th>
                                            <td mat-cell *matCellDef="let row">
                                                <div class="text-danger text-center fs-5">
                                                    {{row.participants}}
                                                    <ng-container *ngIf="row.xlsFileName != null; else NoSheetDocOut">
                                                        <br />
                                                          <button class="btn btn-info me-2" (click)="onDownloadFile(row.xlsFileName, this.serverUrl)">
                                                        <i class="bi bi-file-earmark-text"></i>
                                                    </button>
                                                        <!-- <a class="me-2" [href]="this.serverUrl + row.xlsFileName" target="_blank">
                                                            <i class="mdi ms-2 fs-3 mdi-file"></i>
                                                        </a> -->
                                                    </ng-container>
                                                    <ng-template #NoSheetDocOut>
                                                        <span class="text-danger">No Uploaded Yet</span>
                                                    </ng-template>
                                                </div>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Start Date Column -->
                                        <ng-container matColumnDef="startDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Visit Start Date</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.startDate | date:'dd/MM/yyyy'}}</td>
                                        </ng-container>
                                        
                                        <!-- End Date Column -->
                                        <ng-container matColumnDef="endDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Visit End Date</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.endDate | date:'dd/MM/yyyy'}}</td>
                                        </ng-container>
                                        
                                        <!-- Duration Column -->
                                        <ng-container matColumnDef="visitDuration">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Visit Duration (Days)</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">{{row.visitDuration}}</td>
                                        </ng-container>
                                        
                                        <!-- Proof Column -->
                                        <ng-container matColumnDef="uploadProof">
                                            <th mat-header-cell *matHeaderCellDef class="text-danger fw-bold">Proof</th>
                                            <td mat-cell *matCellDef="let row">
                                                <ng-container *ngIf="row.uploadProof; else NoFileOut">
                                                      <button class="btn btn-warning me-2" (click)="onDownloadFile(row.uploadProof, this.serverUrl)">
                                                        <i class="bi bi-file-earmark-text"></i>
                                                    </button>
                                                    <!-- <a class="fs-5 me-2" [href]="this.serverUrl + row.uploadProof" target="_blank">
                                                        <i class="mdi ms-2 fs-3 mdi-file"></i>
                                                    </a> -->
                                                </ng-container>
                                                <ng-template #NoFileOut>
                                                    <span>No Proof Uploaded</span>
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Amount Column -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Amount Received</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">
                                                <ng-container *ngIf="row.amount > 0; else NoAmountOut">
                                                    {{row.amount}}
                                                </ng-container>
                                                <ng-template #NoAmountOut>
                                                    <span>NA</span>
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Remarks Column -->
                                        <ng-container matColumnDef="remarksAmounts">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Amount Particulars</th>
                                            <td mat-cell *matCellDef="let row" class="fw-bold fs-6 text-success">
                                                <ng-container *ngIf="row.remarksAmounts && row.remarksAmounts.length > 0; else NoRemarksOut">
                                                    {{row.remarksAmounts}}
                                                </ng-container>
                                                <ng-template #NoRemarksOut>
                                                    <span>NA</span>
                                                </ng-template>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Approval Status Column -->
                                        <ng-container matColumnDef="isApproved">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-danger fw-bold">Approval Status</th>
                                            <td mat-cell *matCellDef="let row">
                                                <ng-container [ngSwitch]="row.isApproved">
                                                    <ng-container *ngSwitchCase="1">
                                                        <div class="fw-bold fs-6 text-success">Approved By {{row.approvedBy}}</div>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="0">
                                                        <div class="fw-bold fs-6 text-danger">Disapproved by {{row.approvedBy}}<br />** {{row.disapprovalReason}}</div>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <div class="fw-bold fs-6 text-info">Pending Approval</div>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        
                                        <!-- Header and Row Definitions -->
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOut; sticky: true" class="bg-light"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOut;"></tr>
                                        
                                        <!-- No Data Row -->
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" [attr.colspan]="displayedColumnsOut.length">
                                                No data matching the filter
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <!-- Paginator -->
                                    <mat-paginator #paginatorOut [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                                </div>
                            </ng-container>
                            <ng-template #noRecords>
                                <p class="fs-2 text-danger text-center ">No Grid Data Available.</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loginFailed>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body ">
                    <h4 class="card-title  text-center fs-3 text-danger"> Summer School </h4>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="text-center bg-warning" *ngIf="isLoginFailed">
    <h3 class="text-center fs-2 m-5 text-danger pt-5 "> Error in User Login . </h3>
    <div class="row mt-4 mb-4">
        <div class="col-sm-12 text-center">
            <div class="mb-3 p-4">
                <Label class="form-label fs-4 text-danger ">Something Wen Wrong. Please Try login again!.</Label>
            </div>
        </div>
    </div>
</div>

