.card {
  border-radius: 1rem;
}

.table {
  min-width: 1500px;
  white-space: nowrap;

  th {
    font-weight: 600;
    font-size: 0.9rem;
  }

  input {
    text-align: center;
  }

  .is-invalid {
    border-color: #dc3545 !important;
  }

  .invalid-feedback {
    font-size: 0.75rem;
    color: #dc3545;
    display: block;
  }
}

.table-responsive {
  overflow-x: auto;
}

.btn {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

h3 {
  font-weight: 600;
}
.TargetValueStyle{
  width: 1rem !important;
  padding: 0rem !important;
}

.btn-circle {
  background-color: rgb(65, 172, 65);
  width: 34px; /* Adjust size as needed, matching the height */
  height: 34px; /* Adjust size as needed, matching the width */
  padding: 0;
  border-radius: 50%;
  
  /* Flexbox for perfect centering */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Optionally override default focus box-shadow if needed */
  line-height: 1; 
  flex-shrink: 0; /* Important to prevent the button from stretching in a flex container */
}

/* Ensure the icon itself scales nicely */
.btn-circle i {
  font-size: 16px; 
}
