<div>

  <!-- Top nav bar -->
  <app-step-nav
    [showBack]="!hideBackNext"
    [showNext]="false"
    [showEdit]="!isLocked"
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="true"
    (editClick)="editClick.emit()"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="submitClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>

  <div class="col-md-12 col-lg-10 mx-auto mb-3">
    <div class="card section">
      <div class="card-header">Document(s)</div>
      <div class="card-body" [class.disabled-form]="!isEditing">
        <ng-container *ngFor="let doc of docKeys">
          <div class="row mb-3 mt-2">
            <div class="col-md-6">
              <label class="form-label fw-semibold">{{ doc.label }}</label>
              
              <input type="file" class="form-control"
                [disabled]="!isEditing"
                accept=".pdf,.jpg,.jpeg,.png"
                (change)="onFilePicked($event, doc.key)" />
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-center gap-2 mb-1" *ngIf="hasFile(doc.appField)">
                <button type="button" class="btn  btn-info"
                  (click)="viewFile(getFileName(doc.appField))">
                  <span class="material-icons md-18">description</span> View Uploaded
                </button>
              </div>
            </div>
          </div>
          <hr />
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Bottom nav bar -->
  <app-step-nav
    [showBack]="!hideBackNext"
    [showNext]="false"
    [showEdit]="false"
    [isEditing]="isEditing"
    [isLocked]="isLocked"
    [isValid]="true"
    (cancelClick)="cancelClick.emit()"
    (updateClick)="submitClick.emit()"
    (prevClick)="prevClick.emit()">
  </app-step-nav>

</div>
