<ul ngbNav #horizontalCenterNav="ngbNav" class="nav-tabs justify-content-center">
  <li [ngbNavItem]="1">
    <a ngbNavLink>MOU/Agreement Activity Plan</a>
    <ng-template ngbNavContent>

      <div class="h-100 d-flex p-2 align-items-center justify-content-center">
        <div class="container ">

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <!-- <h6 class="card-title" style="text-align: center">Placement</h6> -->
                  <div class="row mb-4">
                    <div class="col-sm">
                      <label for="MoUName" class="form-label">MoU Name:	</label>
                      <ng-select [items]="ddlMoUName" #ngSelectComponent
                      [clearable]="false"
                      bindLabel="name"
                      (change)="onddlMoUName($event)"
                      bindValue="id"
                      placeholder="Select Mou Name"
                     
                      >
                    </ng-select>

                    </div>
                  </div>
                  

                  <div class="row mb-4">
                    <div class="col-sm" *ngIf="isShowingUsers">
                      <label class="form-label">Activity Planned By:</label>
                      <ng-select 
                      [items]="Allemployee"  #ngSelectComponentStream
                      [multiple]=false
                      bindLabel="allocatedTo"
                      [clearable]="false"
                      [virtualScroll]="true"
                      placeholder="Select"
                      (change)="changeResponsiblePlanned($event)"
                      bindValue="emp_code"
                      [hideSelected]="true"
                      
                      >
                      </ng-select>
                      
                  </div>
                    <div class="col-sm">
                      <label for="MOUFileNumber" class="form-label">MoU File Number:</label>
                      <br>
                      <input class="form-control" type="text" [disabled]="true" [(ngModel)]="FileNumber"
                        placeholder="MoU File Number">

                    </div>

                    <div class="col-sm">
                      <label for="Organization" class="form-label">Organization:</label>
                      <input class="form-control" [(ngModel)]="OrganizationName" type="text" [disabled]="true" placeholder="Organization">

                    </div>

                    <div class="col-sm">
                      <div class="col-sm">
                        <label class="form-label">Collaboration Type:</label>
                        <ng-select [items]="Type" disabled #ngSelectComponentStream [multiple]=false bindLabel="stream"
                          [clearable]="false" placeholder="Select Collaboration Type"
                          (change)="onchangeAgreementTypes($event)" bindValue="id" [hideSelected]="true"
                          [(ngModel)]="selectCollabType">
                        </ng-select>

                      </div>
                    </div>
                    <div class="col-sm">
                      <label class="form-label">Select Activity :</label>
                      <ng-select 
                      [items]="ActivityByAoC"  #ngSelectComponentStream
                      [multiple]=false
                      bindLabel="areaDescription"
                      bindValue="areaId"
                      [hideSelected]="true"
                      placeholder="Select Activity"
                      (change)="changeActivityNew($event)"
                      >
                      </ng-select>
                      <!-- [(ngModel)]="ActivityA" -->
                      
                  </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-sm">
                      <label class="form-label">MoU Start Date :</label>
                      <div class="mb-3">
                        <div class="input-group">
                          <input class="form-control" disabled placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="MoUStartDate"
                            ngbDatepicker #d="ngbDatepicker">
                          <button class="input-group-text" type="button" (click)="d.toggle()">
                            <i class="feather icon-calendar icon-md text-muted"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label class="form-label">MoU End Date :</label>
                      <div class="mb-3">
                        <div class="input-group">
                          <input class="form-control" disabled placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="MoUEndDate"
                            ngbDatepicker #d1="ngbDatepicker">
                          <button class="input-group-text" type="button" (click)="d1.toggle()">
                            <i class="feather icon-calendar icon-md text-muted"></i>
                          </button>
                        </div>
                      </div>


                    </div>

                    <div class="col-sm">


                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col-sm">
                      <label class="form-label">Activity Start Date :</label>
                      <div class="mb-3">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="ActivityStartDate"
                            ngbDatepicker #d5="ngbDatepicker">
                          <button class="input-group-text" type="button" (click)="d5.toggle()">
                            <i class="feather icon-calendar icon-md text-muted"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label class="form-label">Activity End Date :</label>
                      <div class="mb-3">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="ActivityEndDate"
                            ngbDatepicker #d6="ngbDatepicker">
                          <button class="input-group-text" type="button" (click)="d6.toggle()">
                            <i class="feather icon-calendar icon-md text-muted"></i>
                          </button>
                        </div>
                      </div>


                    </div>

                    <div class="col-sm">
                      <label class="form-label">Activity Responsible Person:</label>
                      <ng-select [items]="AllDepartmentemployee" #ngSelectComponentStream [multiple]=false bindLabel="allocatedTo"
                        [clearable]="false" [virtualScroll]="true" placeholder="Select"
                        (change)="changeResponsible($event)" bindValue="emp_code" [hideSelected]="true"
                        [(ngModel)]="ActivityResponsiblePerson">
                      </ng-select>

                    </div>
                  </div>

                  <div class="row mb-4">


                    <div class="col-sm">
                      <label for="ActivityDescription" class="form-label">Activity Description:</label>
                      <textarea class="form-control" [(ngModel)]="ActivityDescription2"
                        placeholder="Activity Description" rows="5"></textarea>
                    </div>

                    <div class="col-sm">
                    </div>
                    <!-- <div class="col-sm">
                                        <label class="form-label">Collaboration Type:</label>
                                        <ng-select 
                                        [items]="Type"  #ngSelectComponentStream
                                        [multiple]=false
                                        bindLabel="stream"
                                        [clearable]="false"
                                        placeholder="Select Collaboration Type"
                                        (change)="onchangeAgreementTypes($event)"
                                        bindValue="id"
                                        [hideSelected]="true"
                                        [(ngModel)]="selectCollabType"
                                       
                                        >
                                        </ng-select>
        
                                    </div> -->

                    <!-- <div class="col-sm" >
                                        <label class="form-label">{{selectCollabTypeName}} Sub Type:</label>
                                        <ng-select 
                                        [items]="AgreementTypeDisplay2"  #ngSelectComponentStream
                                        [multiple]=false
                                        bindLabel="value"
                                        [clearable]="false"
                                        placeholder="Select Collaboration Sub Type"
                                        (change)="changeSubType($event)"
                                        bindValue="value"
                                        [hideSelected]="true"
                                        [(ngModel)]="selectCollabSubType"
                                        >
                                        </ng-select>
                                    </div> -->


                  </div>

                  <div class="text-center mt-3" >
                    <button class="btn btn-primary" *ngIf="isButtonShwoing" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                      Loading...
                    </button> &nbsp;
                    <button type="submit" *ngIf="!isButtonShwoing" class="btn btn-primary me-2"
                      (click)="AddMouApprovalData();">Submit</button>
                    <button type="button" class="btn btn-secondary" (click)="resetData();">Reset</button>
                  </div>
                  <br>
                  <br>
                  <div class="row mb-4" *ngIf="showApprovalMou">
                    <h6 class="card-title">Noting Sheet Details</h6>
                    <div class="table-responsive divcontainer">

                      <table id="dataTableExampleNews" class="table">
                        <thead>
                          <tr>
                            <th>Noting Sheet Reference No</th>
                            <th> Description</th>
                            <th>Approval Period</th>
                            <th>Start Date</th>
                            <th>Document Name</th>
                            <th>EntryDate</th>
                            <th>EndDate</th>
                            <th>Subject</th>
                            <th>Hard Copy Sent</th>
                            <th>FileNumber</th>
                            <th>Department</th>
                            <th>School Division Name</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dt of TableData">
                            <td>{{dt.notingSheetReferenceNo}}</td>
                            <td> <button class="btn btn-primary" (click)="viewdesc(dt.description)">View
                                Description</button>
                              <!-- <span [innerHtml]="dt.description"></span> -->
                            </td>
                            <td>{{dt.approvalPeriod}}</td>
                            <td>{{dt.startDate}}</td>
                            <td *ngIf="dt.documentName != ''">
                              <a target="_blank"
                                href="https://files.lpu.in/umsweb/OnlineNotingSheetDocuments/SupportingDocuments/{{dt.documentName}}">View
                                Upload Document</a>
                              <!-- {{dt.documentName}} -->
                            </td>
                            <td *ngIf="dt.documentName == ''">
                              No Document Uploaded
                              <!-- {{dt.documentName}} -->
                            </td>
                            <td>{{dt.entryDate}}</td>
                            <td>{{dt.endDate}}</td>
                            <td>{{dt.subject}}</td>
                            <td>{{dt.hardCopySent}}</td>
                            <td>{{dt.fileNumber}}</td>
                            <td>{{dt.department}}</td>
                            <td>{{dt.schoolDivisionName}}</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


    </ng-template>
  </li>
  <li [ngbNavItem]="2" style="display: none;">
    <a ngbNavLink>Action on Planned Activity</a>
    <ng-template ngbNavContent>

      <div class="h-100 d-flex p-2 align-items-center justify-content-center">
        <div class="container ">




          <div class="row">
            <!-- <div class="row" > -->

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <!-- <h6 class="card-title" style="text-align: center">Placement</h6> -->
                  <div class="row mb-4">
                    <div class="col-sm">
                      <label for="MOUFileNumber" class="form-label">MoU File Number:</label>
                      <br>
                      <input class="form-control" type="text" [disabled]="true" [(ngModel)]="FileNumber"
                        placeholder="Noting Sheet Reference Number">

                    </div>

                    <div class="col-sm">
                      <label for="Organization" class="form-label">Organization:</label>
                      <input class="form-control" type="text" [disabled]="true" placeholder="Organization">

                    </div>

                    <div class="col-sm">
                      <label class="form-label">Activity Status:</label>
                      <br />
                      <div style="display: block; justify-content: space-evenly;">

                        <label class="radio-inline">
                          <input type="radio" value="Completed" [(ngModel)]="ActivityStatus"
                            name="ActivityStatus">Completed
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="NotCompleted" [(ngModel)]="ActivityStatus"
                            name="ActivityStatus">Not Completed
                        </label>


                      </div>

                    </div>
                  </div>



                  <div class="row mb-4">
                    <ng-container *ngIf="ActivityStatus === 'Completed' || ActivityStatus === ''; else notCompleted">

                      <div class="col-sm">
                        <label class="form-label">Activity Completed As per Planned Date :</label>
                        <br />
                        <div style="display: block; justify-content: space-evenly;">

                          <label class="radio-inline">
                            <input type="radio" value="Yes" [(ngModel)]="PlannedDate" name="PlannedDate">Yes
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="No" [(ngModel)]="PlannedDate" name="PlannedDate">No
                          </label>
                        </div>

                      </div>
                      <div class="col-sm">
                        <label class="form-label">Activity Start Date :</label>
                        <div class="mb-3">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                              [disabled]="PlannedDate === 'Yes' || PlannedDate ===''" name="dp"
                              [(ngModel)]="NewActivityStartDate" ngbDatepicker #d3="ngbDatepicker">
                            <button class="input-group-text" type="button" (click)="d3.toggle()">
                              <i class="feather icon-calendar icon-md text-muted"></i>
                            </button>
                          </div>
                        </div>


                      </div>
                      <div class="col-sm">
                        <label class="form-label">Activity End Date :</label>
                        <div class="mb-3">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                              [disabled]="PlannedDate === 'Yes' || PlannedDate ===''" name="dp"
                              [(ngModel)]="NewActivityEndDate" ngbDatepicker #d4="ngbDatepicker">
                            <button class="input-group-text" type="button" (click)="d4.toggle()">
                              <i class="feather icon-calendar icon-md text-muted"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <ng-template #notCompleted>
                      <div class="col-sm">
                        <label for="Reason" class="form-label">Reason for Not Completed:</label>
                        <textarea class="form-control" placeholder="Reason" rows="5"></textarea>
                      </div>
                    </ng-template>
                  </div>



                </div>
              </div>
            </div>

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-header">
                  PLANNED ACTIVITY DETAIL
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-title" style="text-align: center">Placement</h6> -->


                  <div class="row mb-4">
                    <div class="col-sm">
                      <label class="form-label">Activity Type:</label>
                      <input class="form-control" [(ngModel)]="ActivityType" type="text" placeholder="Activity Type">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">Activity Description:</label>
                      <input class="form-control" [(ngModel)]="ActivityDescription" type="text"
                        placeholder="Activity Description">

                    </div>

                  </div>

                  <div class="row mb-4">
                    <div class="col-sm">
                      <label class="form-label">No.of Activities:</label>
                      <input class="form-control" [(ngModel)]="NoofActivities" type="text"
                        placeholder="No.of Activities	">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">External resource persons:</label>
                      <input class="form-control" [(ngModel)]="ExternalResourcesCount" (blur)="changeExternal()"
                        type="number" placeholder="Actual Number of External resource persons	">



                    </div>
                    <div class="col-sm">
                      <div class="col-sm">
                        <label class="form-label">Internal resource persons:</label>
                        <ng-select [items]="Allemployee" #ngSelectComponentStream [multiple]=true
                          bindLabel="allocatedTo" [clearable]="false" [virtualScroll]="true" placeholder="Select"
                          (change)="changeResponsible($event)" bindValue="emp_code" [hideSelected]="true"
                          [(ngModel)]="Internalresourcepersons">
                        </ng-select>

                      </div>
                    </div>

                  </div>

                  <div class="row mb-4">
                    <div class="col-sm">
                      <label class="form-label">Email:</label>
                      <input class="form-control" [(ngModel)]="Email" type="text" placeholder="Enter Email">

                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>


                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-header">
                  PLEASE ENTER EXTERNAL / INTERNAL RESOURCE PERSONS DETAIL

                </div>
                <div class="card-body">
                  <!-- <h6 class="card-title" style="text-align: center">Placement</h6> -->

                  <!--  -->
                  <div class="row mb-4" *ngFor="let i of ExternalResourcesRows;let index=index;">
                    {{index+1}}
                    <div class="col-sm">
                      <label class="form-label">Name of External Res. Person:</label>
                      <input class="form-control" type="text" placeholder="Name of External Res. Person:">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">Designation:</label>
                      <input class="form-control" type="text" placeholder="Designation	">



                    </div>
                    <div class="col-sm">
                      <label class="form-label">Organization Details :</label>
                      <input class="form-control" type="text" placeholder="Organization Details">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">Contact No :</label>
                      <input class="form-control" type="text" placeholder="Contact No.">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">Email:</label>
                      <input class="form-control" type="text" placeholder="Email">

                    </div>

                  </div>


                </div>
              </div>
            </div>

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-header">
                  Beneficiaries Type
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-title" style="text-align: center">Placement</h6> -->


                  <div class="row mb-4">

                    <div class="col-sm">
                      <label class="form-label">Students:</label>
                      <input class="form-control" [(ngModel)]="Students" type="text" placeholder="Students">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">Faculty:</label>
                      <input class="form-control" [(ngModel)]="Faculty" type="text" placeholder="Faculty">

                    </div>
                    <div class="col-sm">
                      <label class="form-label">Community (external stake holders):</label>
                      <input class="form-control" [(ngModel)]="Community" type="text"
                        placeholder="Community (external stake holders)	">

                    </div>

                  </div>




                </div>
              </div>
            </div>



            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-header">
                  Additional
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-title" style="text-align: center">Placement</h6> -->


                  <div class="row mb-4">
                    <div class="col-sm">
                      <label class="form-label" for="formFile">File</label>
                      <input class="form-control" #userPhoto (change)="onFileSelected($event)" type="file"
                        id="formFile">
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm"></div>



                  </div>

                  <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary me-2" (click)="MouActivityData();">Submit</button>
                    <button type="button" class="btn btn-secondary" (click)="resetData();">Reset</button>
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="3" style="display: none;">
    <a ngbNavLink>MOU </a>
    <ng-template ngbNavContent>

      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Pending</h6>
              <div class="table-responsive">

                <table id="dataTableExample" class="table">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>name</th>
                      <th>session Year</th>
                      <th>type</th>
                      <th>sub Type</th>
                      <th>Vetting Status</th>
                      <th>vetting Date</th>
                      <th>vetting By</th>
                      <th>document Responsible Person</th>
                      <!-- <th>Forward To UID</th>
                  <th>Forward User Vetting Date</th>
                  <th>Forward User Vetting Status</th> -->
                      <th>File</th>
                      <th>View Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of TableDataCreatedBy">
                      <td>{{dt.id}}</td>
                      <td>{{dt.name}}</td>
                      <td>{{dt.sessionYear}}</td>
                      <td>{{dt.type}}</td>
                      <td>{{dt.subType}}</td>
                      <td>{{dt.isVetting}}</td>
                      <td>{{dt.vettingDate}}</td>
                      <td>{{dt.vettingBy}}</td>
                      <td>{{dt.documentResponsiblePerson}}</td>
                      <!-- <td>{{dt.forwardToUID}}</td>
                  <td>{{dt.forwardUserVetting}}</td>
                  <td>{{dt.forwardUserVettingDate}}</td> -->
                      <td>
                        <a href={{dt.filePath}} class="btn btn-secondary btn-lg active" target="_blank" role="button"
                          aria-pressed="true">View</a>
                      </td>
                      <!-- <td>
                    <button class="btn btn-primary"  name="{{dt.id}}"  >Chat</button>

                  </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="horizontalCenterNav" class="border border-top-0 p-3"></div>


<ng-template #viewDescModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Vetting</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">

        <div class="card-body">
          <div [innerHtml]="viewdescription"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>