<div>

  <div class="col-md-12 col-lg-10 mx-auto mb-3">
    <div class="card section">
      <div class="card-header">Document(s)</div>
      <div class="card-body" [class.disabled-form]="!isEditing">
        <table class="table table-bordered align-middle">
          <thead>
            <tr>
              <th width="40%">Document</th>
              <th width="40%">Format Template</th>
              <th width="40%">Upload File</th>
              <th width="20%">View Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let doc of docKeys">
              <tr *ngIf="doc.stage === '1'">
                <td>
                  <label class="fw-semibold mb-0">
                    {{ doc.label }}
                  </label>
                </td>
                <td>
                  <button *ngIf="hasSampleFormat(doc.documentName)" type="button" class="btn btn-success btn-sm"
                    (click)="downloadTemplate(doc.documentName)">
                    <i class="bi bi-download me-1"></i>
                  </button>
                  <span *ngIf="!hasSampleFormat(doc.documentName)" class="text-muted">
                    Not Available
                  </span>
                </td>
                <td>
                  <input type="file" class="form-control" accept=".pdf,.jpg,.jpeg,.png"
                    (change)="onFilePicked($event, doc.key)" />
                </td>
                <td>
                  <button *ngIf="hasFile(doc.appField)" type="button"
                    class="btn btn-info d-flex align-items-center gap-1" (click)="viewFile(getFileName(doc.appField))">

                    <span class="material-icons md-18">
                      description
                    </span>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>