@import "https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css";
	  
    
    .ranking .col{margin-top:100px;}
         *{
         font-family: 'Poppins', sans-serif;
        //  margin:0;
        //  padding:0;
         box-sizing: border-box;
         }
         body{
         display: flex;
         justify-content: center; 
         
         min-height: 100vh;
         background: linear-gradient(45deg, #fbda61, #ff5acd);
         }
         .card
         {
         position: relative;
         width: auto;
         height: 190px;
         background: #fff;
         border-radius: 20px;
         box-shadow:0 35px 80px rgba(0,0,0,0.15);
         transition: 0.5s;
         }
         .card:hover
         {
         height:350px;
         }
         .imgBx{
         position: absolute;
         left: 50%; 
         top: -70px;
         transform: translateX(-50%); 
         width: 100px;
         height: 100px;
         background: #fff;
         border-radius: 20px;
         box-shadow: 0 15px 50px rgba(0,0,0,0.35);
         overflow: hidden;
         transition: 0.5s;
         }
         .card:hover .imgBx
         {
         width: 150px;
         height: 150px;
         } 
         .imgBx img
         {
         position: absolute;
         top: 0; 
         left: 0; 
         width: 100%; 
         height: 100%; 
         object-fit: cover;
         } 
         .card .content
         {
         position: absolute;
         height: 100%;
         width: 100%; 
         display: flex; 
         justify-content: center; 
         align-items: flex-end;
         overflow:hidden;
         }
         .card .content .details
         {
         padding: 20px;
         text-align: center;
         width: 100%;
         transition: 0.5s;
         transform: translatey(80px);
         }
         .card:hover .content .details
         {
         transform: translatey(0px);
         }
         .card:hover .content .details h2
         {
         font-size: 1.25em !important;
         font-weight: 600;
         color: #555;
         line-height: 1.2em;
         }
         .card .content .details h2 span{
         font-size: 0.75em;
         font-weight: 500; 
         opacity: 0.5;
         }
         .card .content .details .data
         {
         display: flex;
         justify-content: space-between;
         margin: 20px 0;
         }
         .card .content .details .data h3
         {
         font-size: 1em;
         color: #555;
         line-height: 1.2em;
         font-weight: 600;
         }
         .card .content .details .data h3 span
         {
         font-size: 0.85em;
         font-weight: 400; 
         
		 color:#787878;
		 
         }
         .card .content .details .actionBtn
         {
         display: flex;
         justify-content: space-between;
         /* gap: 20px; */
         }
         .card .content .details .actionBtn button
         {
         padding: 10px 30px; 
         border-radius: 5px;
         border: none;
         outline: none;
         font-size: 1em;
         font-weight: 500;
         background: #ff5f95;
         color: #fff;
         cursor: pointer;
         }
         .card .content .details .actionBtn button:nth-child(2)
         {border: 1px solid #999;
         color:#999;
         background: #fff;
         }
		 
		 
		  .details-btn
         {
         padding: 10px 30px; 
         border-radius: 5px;
         border: none;
         outline: none;
         font-size: 1em;
         font-weight: 500;
         background: #ff5f95;
         color: #fff;
         cursor: pointer;
         }
		 
 h2 {
    font-size: 1.3rem !important
}
   
.breadcrumbs {
 
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}

.breadcrumbs__item {
  background: #fff;
  color: #333;
  outline: none;
  padding: 0.75em 0.75em 0.75em 1.25em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: #323f4a;
  color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: white;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: #edf1f5;
}
   


/// Grid system
//
// Generate semantic grid columns with these mixins.

@mixin make-row($gutter: $grid-gutter-width) {
  --bs-gutter-x: #{$gutter};
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1); // stylelint-disable-line function-disallowed-list
  margin-right: calc(var(--bs-gutter-x) / -2); // stylelint-disable-line function-disallowed-list
  margin-left: calc(var(--bs-gutter-x) / -2); // stylelint-disable-line function-disallowed-list
}

@mixin make-col-ready($gutter: $grid-gutter-width) {
  // Add box sizing if only the grid is loaded
  box-sizing: if(variable-exists(include-column-box-sizing) and $include-column-box-sizing, border-box, null);
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we set the width
  // later on to override this initial width.
  flex-shrink: 0;
  width: 100%;
  max-width: 100% !important; // Prevent `.col-auto`, `.col` (& responsive variants) from breaking out the grid
  padding-right: calc(var(--bs-gutter-x) / 2)!important; // stylelint-disable-line function-disallowed-list
  padding-left: calc(var(--bs-gutter-x) / 2) !important; // stylelint-disable-line function-disallowed-list
  margin-top: var(--bs-gutter-y);
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 auto;
  width: percentage($size / $columns);
}

@mixin make-col-auto() {
  flex: 0 0 auto;
  width: auto;
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}

// Row columns
//
// Specify on a parent element(e.g., .row) to force immediate children into NN
// numberof columns. Supports wrapping to new lines, but does not do a Masonry
// style grid.
@mixin row-cols($count) {
  > * {
    flex: 0 0 auto;
    width: 100% / $count;
  }
}

// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .col#{$infix} {
        flex: 1 0 0%; // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      }

      .row-cols#{$infix}-auto > * {
        @include make-col-auto();
      }

      @if $grid-row-columns > 0 {
        @for $i from 1 through $grid-row-columns {
          .row-cols#{$infix}-#{$i} {
            @include row-cols($i);
          }
        }
      }

      .col#{$infix}-auto {
        @include make-col-auto();
      }

      @if $columns > 0 {
        @for $i from 1 through $columns {
          .col#{$infix}-#{$i} {
            @include make-col($i, $columns);
          }
        }

        // `$columns - 1` because offsetting by the width of an entire row isn't possible
        @for $i from 0 through ($columns - 1) {
          @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
            .offset#{$infix}-#{$i} {
              @include make-col-offset($i, $columns);
            }
          }
        }
      }

      // Gutters
      //
      // Make use of `.g-*`, `.gx-*` or `.gy-*` utilities to change spacing between the columns.
      @each $key, $value in $gutters {
        .g#{$infix}-#{$key},
        .gx#{$infix}-#{$key} {
          --bs-gutter-x: #{$value};
        }

        .g#{$infix}-#{$key},
        .gy#{$infix}-#{$key} {
          --bs-gutter-y: #{$value};
        }
      }
    }
  }
}
