<div class="container-fluid mt-5">
  <div class="row ">
<nav class="breadcrumbs">
<a href="#home" class="breadcrumbs__item">Department name 1</a>
<a href="#shop" class="breadcrumbs__item">Department name 2</a> 
<a href="#cart" class="breadcrumbs__item">Department name 3</a>
<a href="#checkout" class="breadcrumbs__item is-active">Department name 4</a> 
</nav>
</div>
  <div class="row ranking row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-5">
     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail">Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3 class="text-success">01<br><span>Rank</span></h3>
                    <h3 class="text-Danger">4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
   
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>

     <div class="col">
        <div class="card">
           <div class="imgBx">
              <img src="img.jpg">
           </div>
           <div class="content">
              <div class="details">
                 <h2>Gaurav Mehta<br><span>Senior UX/UI Designer <br>Infotech</span> </h2>
                 <div class="data">
                    <h3>01<br><span>Rank</span></h3>
                    <h3>4.00<br><span>Score:</span></h3>
                    <h3>A++<br><span>Grade</span></h3>
                 </div>
                 <div class="actionBtn">
                    <button>Follow</button> <button>Message</button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>