<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div *ngFor="let field of fields" class="form-field-group">
    <label [for]="field.name">{{ field.label }}<span class="required-star">*</span>:</label>

    <div [ngSwitch]="field.type">
      <input
        *ngSwitchCase="'text'"
        [type]="field.type"
        [id]="field.name"
        [formControlName]="field.name"
      />
      <input
        *ngSwitchCase="'date'"
        type="date"
        [id]="field.name"
        [formControlName]="field.name"
      />

      <textarea
        *ngSwitchCase="'textarea'"
        [id]="field.name"
        [formControlName]="field.name"
      ></textarea>

      <div *ngSwitchCase="'radio'" class="radio-group">
        <span *ngFor="let option of field.options">
          <input
            type="radio"
            [id]="field.name + option.label"
            [value]="option.value"
            [formControlName]="field.name"
          />
          <label [for]="field.name + option.label">{{ option.label }}</label>
        </span>
      </div>
    </div>

    <div
      *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
      class="error-message"
    >
      {{ field.label }} is **required**.
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" [disabled]="form.invalid" class="save-button">
      💾 Save
    </button>
    <button type="button" (click)="onCancel()" class="cancel-button">
      ❌ Cancel
    </button>
  </div>
</form>